[2019-03-11 15:31] theoryshaw opened #1 "Utility Room"
*   Utility room on the north of the building, if coming on oxford than we should put next to oxford on west side of building.

    *   Hot water heaters will be in the utility room correct?

[2019-03-11 15:31] theoryshaw opened #2 "* Where do we have area for a small maintenance area?"
*   Where do we have area for a small maintenance area?

[2019-03-11 15:31] theoryshaw opened #3 "Bike hanging"
*   Add where we can, bike hanging mechanism on walls in front of parking spots.

[2019-03-11 15:31] theoryshaw opened #4 "* Rename bike room to “Secured Bike Room”"
*   Rename bike room to “Secured Bike Room”

[2019-03-11 15:32] theoryshaw opened #5 "* Where are the heating “hang” units in the basement?"
*   Where are the heating “hang” units in the basement?

[2019-03-11 15:32] theoryshaw opened #6 "* Where is the venting"
*   Where is the venting

[2019-03-11 15:32] theoryshaw opened #7 "Bike passage way"
*   Is there room for a passageway next to the ramp with a door with FOB access going down for bikers?

[2019-03-11 15:33] theoryshaw opened #8 "South parking wall"
*   Maybe don’t extend the garage beyond the building on the south side of the building?

    *   Will we lose spots? If so how many spots.

[2019-03-11 15:33] theoryshaw opened #9 "security cameras"
*   Security cameras in the basement so that they feel safe

[2019-03-11 15:33] theoryshaw opened #10 "* LED lighting in the garages"
*   LED lighting in the garages

[2019-03-11 15:33] theoryshaw opened #11 "* Maintanence personnel room for little tinkering and small projects"
*   Maintanence personnel room for little tinkering and small projects

[2019-03-11 15:33] theoryshaw opened #12 "* Add in vestibule on first floor."
*   Add in vestibule on first floor.

[2019-03-11 15:34] theoryshaw opened #13 "* Glass on the office to look into the lobby"
*   Glass on the office to look into the lobby

[2019-03-11 15:34] theoryshaw opened #14 "* Desk with two chairs in the office"
*   Desk with two chairs in the office

[2019-03-11 15:34] theoryshaw opened #15 "* Welcome screen at lobby"
*   Welcome screen at lobby

[2019-03-11 15:34] theoryshaw opened #16 "* Windows in lobby and community room facing courtyard"
*   Windows in lobby and community room facing courtyard

[2019-03-11 15:34] theoryshaw opened #17 "* Add Mailboxes in the lobby along the western wall of the lobby next to the elevator."
*   Add Mailboxes in the lobby along the western wall of the lobby next to the elevator.

[2019-03-11 15:35] theoryshaw opened #18 "redesign 2 bedrooms"
*   Redesign the two bedrooms to flow better and have the living rooms on the corners not the bedrooms. You never get a second chance to make a first impression. We don’t want them to walk immediately into a wall when entering those units.

[2019-03-11 15:35] theoryshaw opened #19 "* Get rid of the tubs in the ones and studios"
*   Get rid of the tubs in the ones and studios

[2019-03-11 15:35] theoryshaw opened #20 "* Full stackable washer/dryers"
*   Full stackable washer/dryers

[2019-03-11 15:35] theoryshaw opened #21 "* Is the contractor okay with the sink in the island? Ask royal."
*   Is the contractor okay with the sink in the island? Ask royal.

[2019-03-11 15:35] theoryshaw opened #22 "* Design pull shades for the sliding doors that block 85% of light"
*   Design pull shades for the sliding doors that block 85% of light

[2019-03-11 15:35] theoryshaw opened #23 "* Have royal construction look into Amish cabinets"
*   Have royal construction look into Amish cabinets

[2019-03-11 15:35] theoryshaw opened #24 "* Ceiling fans in all living room as well as master bedroom in 2-bedrooms."
*   Ceiling fans in all living room as well as master bedroom in 2-bedrooms.

[2019-03-11 15:36] theoryshaw opened #25 "* Add cabinet above the toilets"
*   Add cabinet above the toilets

[2019-03-11 15:36] theoryshaw opened #26 "* Put in little outcoves for the residences in the hallway corridors"
*   Put in little outcoves for the residences in the hallway corridors

[2019-03-11 15:36] theoryshaw opened #27 "* Look into stacking the balconies on second and third floors"
*   Look into stacking the balconies on second and third floors

[2019-03-11 15:36] theoryshaw opened #28 "Square off the storage units on the 2nd and 3rd floor 1 bedrooms and add that to their square feet"
Square off the storage units on the 2nd and 3rd floor 1 bedrooms and add that to their square feet

[2019-03-11 15:36] theoryshaw opened #29 "Combine closets (currently back-to-back) in 1-bedroom units for a larger bedroom closet"
Combine closets (currently back-to-back) in 1-bedroom units for a larger bedroom closet

[2019-03-11 15:37] theoryshaw opened #30 "Make the counters in the studios an L shape?"
Make the counters in the studios an L shape?

[2019-03-11 15:37] theoryshaw opened #31 "Studio transom"
Translucent transom in studio, where the gap would be on the top of the wall facing the outdoor windows from living room. This will help a little more light to get through to the bedroom but also aid in the privacy. Furthermore, see if we can add a sliding “barn” door to the entrance of the studio bedrooms.

[2019-03-11 15:38] theoryshaw opened #32 "Make storage units on first floor in wasted space next to both staircases"
Make storage units on first floor in wasted space next to both staircases

[2019-03-11 17:52] theoryshaw commented on #17
http://sketch.openingdesign.com/d/7XATvwxyjL

[2019-03-11 17:52] theoryshaw commented on #12
http://sketch.openingdesign.com/d/7XATvwxyjL

[2019-03-12 14:34] theoryshaw commented on #32
http://sketch.openingdesign.com/d/CTR_190312

[2019-03-12 18:47] bdmock commented on #20
in all units?

[2019-03-12 18:49] theoryshaw commented on #20
Yes.

[2019-03-13 20:19] #7 closed, assigned to theoryshaw

[2019-03-13 20:20] #13 closed, assigned to nobody

[2019-03-13 20:20] #14 closed, assigned to nobody

[2019-03-13 20:20] #8 closed, assigned to theoryshaw

[2019-03-13 20:21] #16 closed, assigned to nobody

[2019-03-13 20:21] #17 closed, assigned to chopinregis

[2019-03-13 20:21] #12 closed, assigned to chopinregis

[2019-03-13 20:21] #27 closed, assigned to theoryshaw

[2019-03-13 20:56] bdmock commented on #25
Should there be one above the sink too?

[2019-03-13 23:01] theoryshaw commented on #25
no.. don't think so.  Will probably be just a mirror, or a cabinet mirror.

[2019-03-14 16:31] bdmock commented on #31
Is the transom the polycarbonate material?

[2019-03-14 16:33] theoryshaw commented on #31
you could put that as a placeholder, yes

[2019-03-14 16:51] theoryshaw commented on #31
you could make it a different 'type'.. so it's easy to swap, if and when it changes.

[2019-03-14 22:05] #25 closed, assigned to bdmock

[2019-03-14 22:06] #19 closed, assigned to bdmock

[2019-04-17 18:02] theoryshaw opened #33 "Research on Modular Stairs"
https://pacificstair.com/

[2019-04-17 19:04] chopinregis commented on #33
- email Tracy (vp of sales) from Pacificstair.com at tracy@pacificstair.com

[2019-04-17 19:40] chopinregis commented on #33
Scott Sullivan - Sales representative for WI
erectastep.com
843-359-8755
ssullivan@erectastep.com

--------------------------------
lapeyrestair.com
Ls.sales@LapeyreStair.com
504-733-6009

--------------------------------

[2019-04-17 20:13] chopinregis commented on #33
www.ezaccess.com/commercial
installed as needed
ksoyring@ezaccess.com
Kim Soy Ring
800 258 8503 option 3
takes either today or later in morning for a quote.

[2019-04-17 22:11] chopinregis commented on #33
Questions to ask about stairs to company rep
- commerical grade.. within a fire stair aka ehavy duty
- Are these stairs self supporting, or can they be supported off the CMU wall?
- Is there an ideal floor to floor dimensions?
- Are they welded or bolted?

[2019-04-18 14:25] chopinregis commented on #33
got a call from
Scott Sullivan - Sales representative for WI
erectastep.com
843-359-8755
ssullivan@erectastep.com

According to him his stairs are all modular, will be bolted, made of steel.
They do no provide anchoring specs, but if we need anchoring specs, he can get his engineers to design them for extra fees.
He will get the quotes by monday as Friday is public holiday.

[2019-04-23 14:35] theoryshaw opened #34 "Magic-paks"
http://www.magic-pak.com/
CUSTOMER SUPPORT, TECHNICAL SUPPORT AND GENERAL INQUIRIES: 1-800-448-5872
ARCHITECT AND ENGINEER DESIGN SUPPORT: 1-866-282-7257

[2019-04-30 20:08] #20 closed, assigned to bdmock

[2019-04-30 20:08] #29 closed, assigned to bdmock

[2019-04-30 20:09] #30 closed, assigned to bdmock

[2019-04-30 20:09] #28 closed, assigned to bdmock

[2019-04-30 20:11] theoryshaw commented on #29
fyi.. we switched these back to back/back... Didn't work that great the other way around.

[2019-04-30 22:21] #2 closed, assigned to chopinregis

[2019-04-30 22:21] #5 closed, assigned to nobody

[2019-04-30 22:21] #6 closed, assigned to nobody

[2019-04-30 22:21] #21 closed, assigned to theoryshaw

[2019-04-30 22:21] #26 closed, assigned to chopinregis

[2019-04-30 22:22] #11 closed, assigned to theoryshaw

[2019-04-30 22:22] #18 closed, assigned to bdmock

[2019-04-30 22:22] #32 closed, assigned to chopinregis

[2019-04-30 22:22] #1 closed, assigned to theoryshaw

[2019-05-12 12:23] theoryshaw opened #35 "Research on penalized facade"

[2019-05-12 12:24] theoryshaw opened #36 "Research on casement windows at the 2nd and 3rd floors"

[2019-05-12 12:27] theoryshaw opened #37 "Research on Composite siding/decking"

[2019-05-12 12:27] theoryshaw opened #38 "Research Gyp Crete as a finish material"

[2019-05-12 12:27] theoryshaw opened #39 "Research on truss fabricator incorporating treated lumber and integral guardrail posts in floor truss."

[2019-05-12 12:28] theoryshaw opened #40 "Research on elevator manufacturer"

[2019-05-12 12:36] theoryshaw opened #41 "Research on acoustical separation between units"

[2019-05-12 12:37] theoryshaw opened #42 "Research on Plywood floors"

[2019-05-12 12:38] theoryshaw opened #43 "Research on whether a perforated panel of some sort can be used at magicpak locations"

[2019-05-12 12:38] theoryshaw opened #44 "Research on double hung windows on 1st floor"

[2019-05-12 12:38] theoryshaw opened #45 "Research on large format fiber cement panels"

[2019-05-15 22:17] theoryshaw commented on #34
@chopinregis Can you call Magic Pak and verify we can have a situation like this, where we're accessing the magik-pak from the closet.

Also, share the plans with them and try to get a sense what unit they would recommend. I think we're looking for an electric unit.

![image](https://user-images.githubusercontent.com/507113/57813241-086f6180-7735-11e9-9692-794243a84f87.png)

[2019-05-16 22:04] chopinregis commented on #34
magic pak point of liason for inquiries concerning magic pack services in Wisconsin
monroe equipments - 262 783 8190
Ben Lane - Liason

Mr. Keith Smith -

[2019-05-17 16:26] chopinregis commented on #34
david.hubbard@alliedair.com

had a phone chat, he basically said aslong as the Magic-Pak unit is located on the exterior wall and as long as there is enough room on the from to service it, so situation with Magic Pak Accessible from closet door is fine.

sent email with plans, he will review them and call me to discuss the details.

[2019-05-17 17:48] chopinregis commented on #34
Magic pak direct Liason - David Hubbard (866 282 7257)

Called back and basically said that according to him all seems well, we only have to make sure that the doors are a minimum of 30inch wide doors.

[2019-07-22 18:23] theoryshaw opened #46 "Corner units, more upscale finishes"

[2019-07-22 18:24] theoryshaw opened #47 "East basement intake"
projected louver size 7x6..
21sf free area.

[2019-07-22 18:24] theoryshaw opened #48 "West basement exhaust"
(3) 3ftx3ft louvers

[2019-07-22 18:25] theoryshaw opened #49 "House gas meter on east side"

[2019-08-28 21:32] theoryshaw opened #50 "building env. calcs"
![image](https://user-images.githubusercontent.com/507113/63894098-6a389c00-c9b1-11e9-8bc4-6530800ce740.png)

[2019-08-28 21:33] theoryshaw opened #51 "site"
![image](https://user-images.githubusercontent.com/507113/63894137-80465c80-c9b1-11e9-8c22-0b6114e57e29.png)

[2019-08-28 21:35] theoryshaw opened #52 "Comcheck"
![image](https://user-images.githubusercontent.com/507113/63894214-b257be80-c9b1-11e9-8c80-e5870e2f67f6.png)

![image](https://user-images.githubusercontent.com/507113/63894226-baaff980-c9b1-11e9-9832-91b6fcaa1df9.png)

[2019-08-28 21:36] theoryshaw opened #53 "Bubble changes"
![image](https://user-images.githubusercontent.com/507113/63894284-dfa46c80-c9b1-11e9-9f65-aeb1e83976bd.png)

[2019-08-28 21:36] theoryshaw opened #54 "revised codes"
![image](https://user-images.githubusercontent.com/507113/63894352-05ca0c80-c9b2-11e9-9302-6e9353a5c66e.png)

[2019-08-28 21:37] theoryshaw opened #55 "Structural Calcs pg. 14"
![image](https://user-images.githubusercontent.com/507113/63894366-1aa6a000-c9b2-11e9-8833-220b80779c3b.png)

[2019-08-28 21:38] theoryshaw opened #56 "roof drainage"
![image](https://user-images.githubusercontent.com/507113/63894410-3316ba80-c9b2-11e9-95a0-ea85eabe3be9.png)

[2019-08-28 21:38] theoryshaw opened #57 "revised door schedule"
![image](https://user-images.githubusercontent.com/507113/63894451-46298a80-c9b2-11e9-982d-16183d595c10.png)

[2019-08-28 21:39] theoryshaw opened #58 "Wall UL listings"
![image](https://user-images.githubusercontent.com/507113/63894492-5f323b80-c9b2-11e9-8815-8f49367a4180.png)

[2019-08-28 21:39] theoryshaw commented on #58
![image](https://user-images.githubusercontent.com/507113/63894528-73763880-c9b2-11e9-8e64-ca7f2e113f9c.png)

[2019-08-28 21:41] theoryshaw opened #59 "elevator doors"
![image](https://user-images.githubusercontent.com/507113/63894607-a4ef0400-c9b2-11e9-9fb6-17081bfbadd8.png)

[2019-08-28 21:42] theoryshaw opened #60 "nfpa 13"
![image](https://user-images.githubusercontent.com/507113/63894680-dbc51a00-c9b2-11e9-8ea9-10102e79be28.png)

[2019-08-28 21:43] theoryshaw opened #61 "common path of travel in basement"
![image](https://user-images.githubusercontent.com/507113/63894702-eda6bd00-c9b2-11e9-96d3-c09555707325.png)

[2019-08-28 21:46] theoryshaw opened #62 "handrails on both sides"
![image](https://user-images.githubusercontent.com/507113/63894832-47a78280-c9b3-11e9-9419-99b0bfb1842e.png)

[2019-08-28 21:46] theoryshaw opened #63 "3 ADA stalls"
![image](https://user-images.githubusercontent.com/507113/63894890-6148ca00-c9b3-11e9-8485-6d83ab539f44.png)

[2019-08-28 21:48] theoryshaw opened #64 "Further articulation between Type A and B"
![image](https://user-images.githubusercontent.com/507113/63894999-9c4afd80-c9b3-11e9-8cd4-2a4766770673.png)

[2019-08-28 21:49] theoryshaw commented on #56
![image](https://user-images.githubusercontent.com/507113/63895066-c2709d80-c9b3-11e9-8811-050f632cf69c.png)

[2019-08-28 21:50] theoryshaw opened #65 "safety glazing"
![image](https://user-images.githubusercontent.com/507113/63895134-e7fda700-c9b3-11e9-960e-91fd5aea9fc8.png)

[2019-08-28 21:52] theoryshaw opened #66 "Knee clearances"
![image](https://user-images.githubusercontent.com/507113/63895213-18dddc00-c9b4-11e9-8a18-20bc4f965e9a.png)

[2019-08-28 21:57] theoryshaw opened #67 "Type A - 2bd ada"
![image](https://user-images.githubusercontent.com/507113/63895467-d5d03880-c9b4-11e9-822f-6e48747f1073.png)

[2019-08-28 21:57] theoryshaw opened #68 "Type A - A471 - maneuvering clearance"
![image](https://user-images.githubusercontent.com/507113/63895513-f3050700-c9b4-11e9-88ea-22fd66a80db5.png)

[2019-08-28 21:59] theoryshaw opened #69 "Type A - show reinforcing for grab bars"
![image](https://user-images.githubusercontent.com/507113/63895598-23e53c00-c9b5-11e9-98ba-d7ef921faa90.png)

[2019-08-28 22:00] theoryshaw opened #70 "Type A - A471 - clear space at bathtub"
![image](https://user-images.githubusercontent.com/507113/63895636-42e3ce00-c9b5-11e9-8e86-909050400b0c.png)

[2019-08-28 22:01] theoryshaw opened #71 "Type A - U shaped kitchen"
![image](https://user-images.githubusercontent.com/507113/63895678-66a71400-c9b5-11e9-9058-d6f1cfc4754b.png)

[2019-08-28 22:01] theoryshaw commented on #71
![image](https://user-images.githubusercontent.com/507113/63895697-7cb4d480-c9b5-11e9-90da-525dbf1b4288.png)

[2019-08-28 22:01] theoryshaw commented on #71
![image](https://user-images.githubusercontent.com/507113/63895713-863e3c80-c9b5-11e9-8678-a1d559beb6a1.png)

[2019-08-28 22:02] theoryshaw opened #72 "Type B - grab bar reinforcing"
![image](https://user-images.githubusercontent.com/507113/63895735-981fdf80-c9b5-11e9-87c5-1ccc05a48cc4.png)

[2019-08-28 22:03] theoryshaw opened #73 "Analysis on window ventilation."
![image](https://user-images.githubusercontent.com/507113/63895754-ad950980-c9b5-11e9-8c74-ca33a9fbed4d.png)

[2019-08-29 09:43] lcpt commented on #55
We need to clarify this in the calculation report. The plans are OK.

[2019-08-29 13:02] theoryshaw commented on #56
@chopinregis can you add roof drains to the roof plan?  You can use the same revit family that was used on the courtyard deck.

Also, please callout the 'OVERFLOW SCUPPERS' on the elevations, if they are not already called out.

[2019-08-29 18:14] yorikvanhavre commented on #52
Info regarding point 2:

**SPS 363.0407 Total building performance.** **(1)** MANDATORY REQUIREMENTS.  This is a department exceptionto the requirements in IECC section C407.2: The requirements inIECC  section  C403.2.7  are  not  required  to  be  demonstrated  asmeans of compliance with this section. **(2)** TOTAL ENERGY PERFORMANCE.  This is a department infor-mational note to be used under IEC

[2019-08-29 18:30] yorikvanhavre commented on #62
Note - stairs are there everywhere in the model, on both sides, only there is one not appearing on 3rd floor plan view on sheets A460, A461, A462

[2019-08-29 18:39] theoryshaw commented on #62
Yeah, maybe that was it. Not sure.

[2019-08-29 18:45] theoryshaw commented on #53
a video on how to bubble..
https://www.dropbox.com/s/bxjaag1dgpxwsar/Adding%20Revision%20Bubbles.mp4?dl=0

[2019-08-29 19:49] theoryshaw commented on #53
Forgot to mention, please bubble in the view, not on the sheet.

[2019-08-29 20:16] #62 closed, assigned to yorikvanhavre

[2019-08-29 20:17] yorikvanhavre commented on #62
Got it. Third floor plan bottom limit needed to be set to unlimited

[2019-08-29 20:57] theoryshaw commented on #52
And link..
https://docs.legis.wisconsin.gov/code/admin_code/sps/safety_and_buildings_and_environment/361_366/363/II/0407

[2019-08-30 19:35] yorikvanhavre commented on #52
RESCheck done and passing with 1.1%.

Left to be done:

* Change R-value of courtyard floor from 35MIN to 63 AVERAGE in shell.rvt (Just in case it is not done yet)
* Point 2 above: _Please provide a report for the 2015 IECC per SPS 363.0407(3)_ Unclear to me what exactly needs to be done here, but I suppose by providing a RESCheck report we are complying...
* Point 3 above: Add Ryan's signature an

[2019-09-02 12:57] lcpt commented on #55
I've fixed the error on the report. Do we need to highlight the modification on the document?

[2019-09-05 18:46] #64 closed, assigned to bdmock

[2019-09-05 18:55] bdmock commented on #70
Should we make this bath a one vanity bath, or scrunch the two together?

![Capture](https://user-images.githubusercontent.com/3970626/64370718-a046d300-cfe4-11e9-9260-0622add09105.JPG)
![Capture](https://user-images.githubusercontent.com/3970626/64370750-b5236680-cfe4-11e9-8d11-5bf89ae27c69.JPG)

[2019-09-05 19:04] bdmock commented on #70
For the 1BD, what do you think of this approach?

![Capture](https://user-images.githubusercontent.com/3970626/64371391-0a13ac80-cfe6-11e9-8f8c-1a2df3f2292b.JPG)

[2019-09-05 19:21] bdmock commented on #68
Caused the creation of a new door type (3' width) with tag U18
![Capture](https://user-images.githubusercontent.com/3970626/64373960-67a8f880-cfe8-11e9-87a4-d731ae1ea5cd.JPG)

[2019-09-05 19:25] theoryshaw commented on #68
no need to change the door. They mean this...
![image](https://user-images.githubusercontent.com/507113/64374264-0fbec180-cfe9-11e9-80af-4d9272f03e0b.png)

[2019-09-05 19:39] theoryshaw commented on #70
How about this?...
![image](https://user-images.githubusercontent.com/507113/64375147-e7d05d80-cfea-11e9-9514-16e6b4eb1bb0.png)

[2019-09-05 19:40] bdmock commented on #68
Then the unit doesn't have a closet, what about something like this?

![Capture](https://user-images.githubusercontent.com/3970626/64375171-f4ed4c80-cfea-11e9-8fa5-356e10d810e5.JPG)

[2019-09-05 19:42] theoryshaw commented on #70
How about this?...
![image](https://user-images.githubusercontent.com/507113/64375381-6deca400-cfeb-11e9-9b8c-0d2ebce5ac33.png)

[2019-09-05 19:43] theoryshaw commented on #70
Also, in general, let's not show the grab bars.  Let's just indicated there will be blocking in certain locations,  per that xx/xxx details we'll call out on the elevations.

[2019-09-05 19:59] theoryshaw commented on #68
have to say these ADA bathrooms are a PITA.
How about this?...
![image](https://user-images.githubusercontent.com/507113/64376341-a7beaa00-cfed-11e9-8d00-dc9306c6ce1e.png)

[2019-09-06 01:37] #70 closed, assigned to bdmock

[2019-09-06 01:41] #68 closed, assigned to bdmock

[2019-09-06 16:00] theoryshaw commented on #68
Let's do the overlap exception there, with removable cabinets doors.
![image](https://user-images.githubusercontent.com/507113/64442448-700b3d00-d095-11e9-864c-9460e5499253.png)

[2019-09-06 17:25] bdmock commented on #71
Fixing to make the 1BD ADA Type A Kitchen into an L-shape

![Capture](https://user-images.githubusercontent.com/3970626/64447524-2de7f880-d0a1-11e9-8871-5eb663656096.JPG)
![Capture](https://user-images.githubusercontent.com/3970626/64447540-3d674180-d0a1-11e9-9772-1ffd0ba5b4ca.JPG)

[2019-09-06 17:27] bdmock commented on #71
or this?

![Capture](https://user-images.githubusercontent.com/3970626/64447737-b23a7b80-d0a1-11e9-8e22-41e7905bfc79.JPG)

[2019-09-06 17:40] theoryshaw commented on #71
Whatta feeling?

[2019-09-06 18:38] #71 closed, assigned to bdmock

[2019-09-06 18:40] #66 closed, assigned to bdmock

[2019-09-06 18:41] #67 closed, assigned to bdmock

[2019-09-09 02:52] #69 closed, assigned to bdmock

[2019-09-09 02:53] #72 closed, assigned to bdmock

[2019-09-10 22:24] #55 closed, assigned to lcpt, anaiortega

[2019-10-23 02:55] theoryshaw opened #74 "add in ductwork in units"

[2019-10-28 16:10] theoryshaw opened #75 "update top of wall details to accommodate lateral loads per conversation with Grant"
@lcpt to provide updated sketch.

[2019-10-28 16:12] theoryshaw opened #76 "Beams and columns at north end of ramp."
![image](https://user-images.githubusercontent.com/507113/67695798-b3867700-f973-11e9-8c06-caf17a0825e5.png)

[2019-10-28 16:20] theoryshaw opened #77 "update foundation relative to new precast beam along south wall between C and D"
![image](https://user-images.githubusercontent.com/507113/67696452-e67d3a80-f974-11e9-9bcf-bc01637ec5cb.png)

[2019-10-28 16:21] theoryshaw commented on #77
we need Grant to size beam, first I would assume.

[2019-10-28 16:24] theoryshaw opened #78 "Clarify corner cantilever condition."
Luis to provide OD with a clarifying sketch.

![image](https://user-images.githubusercontent.com/507113/67696737-63a8af80-f975-11e9-94d2-3ba15d678f26.png)

[2019-10-28 16:29] #49 closed, assigned to nobody

[2019-10-28 16:29] #50 closed, assigned to theoryshaw

[2019-10-28 16:29] #51 closed, assigned to theoryshaw

[2019-10-28 16:29] #52 closed, assigned to theoryshaw

[2019-10-28 16:29] #53 closed, assigned to theoryshaw, yorikvanhavre, bdmock, lcpt, anaiortega, chopinregis

[2019-10-28 16:29] #54 closed, assigned to theoryshaw

[2019-10-28 16:29] #56 closed, assigned to chopinregis

[2019-10-28 16:29] #57 closed, assigned to theoryshaw

[2019-10-28 16:29] #58 closed, assigned to theoryshaw

[2019-10-28 16:29] #59 closed, assigned to theoryshaw

[2019-10-28 16:29] #60 closed, assigned to theoryshaw

[2019-10-28 16:29] #61 closed, assigned to theoryshaw

[2019-10-28 16:29] #63 closed, assigned to chopinregis

[2019-10-28 16:29] #65 closed, assigned to theoryshaw

[2019-10-28 16:29] #73 closed, assigned to theoryshaw

[2019-10-28 16:29] #10 closed, assigned to nobody

[2019-10-28 16:31] #23 closed, assigned to theoryshaw

[2019-10-28 16:31] #31 closed, assigned to bdmock

[2019-10-28 16:31] #33 closed, assigned to chopinregis

[2019-10-28 16:31] #34 closed, assigned to chopinregis

[2019-10-28 16:31] #35 closed, assigned to nobody

[2019-10-28 16:31] #36 closed, assigned to nobody

[2019-10-28 16:31] #38 closed, assigned to nobody

[2019-10-28 16:31] #39 closed, assigned to nobody

[2019-10-28 16:31] #40 closed, assigned to nobody

[2019-10-28 16:31] #41 closed, assigned to nobody

[2019-10-28 16:31] #43 closed, assigned to nobody

[2019-10-28 16:31] #44 closed, assigned to nobody

[2019-10-28 16:31] #45 closed, assigned to nobody

[2019-10-28 16:31] #46 closed, assigned to nobody

[2019-10-28 16:31] #47 closed, assigned to nobody

[2019-10-28 16:31] #48 closed, assigned to nobody

[2019-10-28 16:31] #4 closed, assigned to chopinregis

[2019-10-28 16:39] theoryshaw commented on #75
@lcpt to provide updated sketch.

[2019-10-28 16:48] theoryshaw opened #79 "update the following details per the new change to concrete walls."
@lcpt to provide sketch to change the following details...

![image](https://user-images.githubusercontent.com/507113/67698446-5e009900-f978-11e9-996c-1a08003464a7.png)

![image](https://user-images.githubusercontent.com/507113/67698459-66f16a80-f978-11e9-9822-d432da0efc69.png)

[2019-10-28 16:49] lcpt commented on #77
We can make some assumptions without having precise data about the lintel, but we cannot finish without them.

[2019-10-28 17:00] theoryshaw opened #80 "update trash with tug and 2yarders"

[2019-10-29 18:04] lcpt commented on #75
![top_of_wall_detail](https://user-images.githubusercontent.com/12873038/67792994-64773980-fa7a-11e9-86dd-c8d73ce00286.jpeg)

There you have the modification for the details 3/S201 and 5/S201 to resist the lateral loads of the precast planks. The modifications are as follows:

- The bars drilled thru the precast planks are 2 inches (ca. 5 cm) longer to assure that the pass behind the longitudinal

[2019-10-29 18:59] theoryshaw commented on #75
Thanks Luis,
@chopinregis do you want to take a stab at updating 3/S201 and 5/S201?

[2019-10-29 19:03] theoryshaw commented on #75
@lcpt, can we put that top rebar 4" down from the top of the wall?

As you can see below, we're looking to hold the wall down 3" at the door locations.
![image](https://user-images.githubusercontent.com/507113/67800086-ae4d2900-fa54-11e9-803e-5042732cc077.png)

![image](https://user-images.githubusercontent.com/507113/67799971-6928f700-fa54-11e9-8770-f04332f58041.png)

[2019-10-30 13:35] theoryshaw opened #81 "Update top of wall details around ramp"
Hi @lcpt,
With the ramps walls concrete now, can you sketch up some amendments to the following details?

![image](https://user-images.githubusercontent.com/507113/67862317-e786a700-faef-11e9-9cdc-2156366485d5.png)
![image](https://user-images.githubusercontent.com/507113/67862422-169d1880-faf0-11e9-87e4-58752209b04b.png)

[2019-10-30 14:19] lcpt commented on #75
![image](https://user-images.githubusercontent.com/12873038/67866097-b1b1e480-fb28-11e9-822a-727d3e12fdf4.png)
We can do this, can't we?

[2019-10-30 15:03] theoryshaw commented on #75
Yes, sounds good.

[2019-10-30 15:51] lcpt opened #82 "Update/adapt shear walls adjacent to stair wells."
![image](https://user-images.githubusercontent.com/12873038/67874613-72d65b80-fb35-11e9-9270-c61ea6e0dc35.png)

[2019-10-30 18:58] chopinregis commented on #75
<img width="548" alt="Annotation 2019-10-30 145612" src="https://user-images.githubusercontent.com/13260872/67889655-a14c3a80-fb25-11e9-8567-c022c60ed2a2.png">

How do these look?

[2019-10-30 19:33] theoryshaw commented on #75
i'll markup in the FD.

[2019-10-31 09:18] lcpt commented on #75
Thanks @chopinregis. I've left my comments [here](http://dev.first-draft.xyz/d/20tj2lq4k.

[2019-10-31 14:22] theoryshaw opened #83 "Washer/Dryer in twobedroom units need to be accessible by both residents in each bedroom (withouthaving to go through the master bedroom to access it)"
from owner.

[2019-10-31 14:23] theoryshaw opened #84 "remove polycarbonate corners on 3rd floor and replace with windows, in similar fashion as the rest of the windows"
owner directive: remove polycarbonate corners on 3rd floor and replace with windows, in similar fashion as the rest of the windows

[2019-10-31 17:45] theoryshaw commented on #79
Hi @lcpt possible get these sketches by tomorrow?

[2019-10-31 17:45] theoryshaw commented on #81
@lcpt ... also possible get these sketches by tomorrow?

[2019-10-31 18:03] lcpt commented on #81
Yes, we'll have it done by tomorrow.

[2019-10-31 18:03] lcpt commented on #79
Yes, I'm working on it.

[2019-10-31 18:43] theoryshaw opened #85 "modify the countertops for the kitchens and bathroom so they do not overlap the ranges and sinks..."
for all units... modify the countertops for the kitchens and bathroom so they do not overlap the ranges and sinks...

[2019-11-01 12:47] lcpt commented on #81
![7_S200_rc_wall_detail](https://user-images.githubusercontent.com/12873038/68025806-0f236e00-fcae-11e9-9c84-62fc766a289c.jpeg)

[2019-11-01 17:50] #83 closed, assigned to bdmock

[2019-11-01 19:28] #85 closed, assigned to bdmock

[2019-11-01 19:49] theoryshaw commented on #81
@chopinregis want to take a stab at this detail?  Let's model this detail, per the others.  That is, instead of changing the line work of the existing detail.

[2019-11-01 20:27] #84 closed, assigned to bdmock

[2019-11-01 20:41] lcpt commented on #81
![detail_8_s200_replacement](https://user-images.githubusercontent.com/12873038/68055159-4b77be00-fcf0-11e9-881c-d13732f54e2d.jpeg)

[2019-11-02 15:53] lcpt commented on #79
[ramp_RC_wall_schedule.pdf](https://github.com/OpeningDesign/CTR/files/3800659/ramp_RC_wall_schedule.pdf)

Find attached the reinforcement schedule for the new RC walls for the ramp.

[2019-11-02 16:58] lcpt commented on #79
![ramp_west_wall_hollow_core_connection_detail](https://user-images.githubusercontent.com/12873038/68074339-2e97c500-fd9a-11e9-930b-db410ddc15cf.jpeg)
This is the detail for the wall on the west side (see plan view). The detail for the East wall will be very similar.

[2019-11-03 07:19] chopinregis commented on #81
Here is the Update. What would you name the 2x piece that bolts the anchors into the wall?
First draft link here [http://dev.first-draft.xyz/d/20191102_CTR_Structural_Detail/](url)
<img width="957" alt="Annotation 2019-11-03 021723" src="https://user-images.githubusercontent.com/13260872/68081684-24001e80-fde0-11e9-82d2-ce6cd68e01ff.png">

[2019-11-03 10:27] lcpt commented on #81
Hi.

Those anchors are simply a piece of threaded steel drilled into the wall concrete and fixed with a resin. You can use a washer and a nut to fix the piece of wood.

On the other hand, I've put the 10" dimension in my sketches for the inverted U-shaped rebar I've placed at the top of the wall (Swiss style of reinforcing :). If you bend the vertical reinforcement  of the wall (which is also fine

[2019-11-03 14:08] theoryshaw commented on #79
Hi Luis,
Could we simplify this detail with an steel angle, if necessary?  Something like the following image (with concrete obviously).
I just think this will be easier for the concrete sub, than forming that corbel--which would be a lot of form work.

![image](https://user-images.githubusercontent.com/507113/68086329-53c71a80-fe10-11e9-9a26-cd1310251c6e.png)

---

Or maybe we could bear those 2n

[2019-11-04 13:13] lcpt commented on #79
![the_problem_to_solve](https://user-images.githubusercontent.com/12873038/68123192-9837e080-ff0c-11e9-8678-6319944e9796.jpeg)
I've tried to explain the reason to put those corbels in the attached file. The formwork is more complicated but I don't find a simpler solution. I'll put an alternative solution here but I think it's not simpler than this one.

[2019-11-04 13:18] lcpt commented on #79
![image](https://user-images.githubusercontent.com/12873038/68123552-9f132300-ff0d-11e9-85b5-c459b7fa3df7.png)

This is the solution I was talking about. The topping will be installed on a second phase so, if we want to use this detail it will need some modifications.

[2019-11-04 15:13] theoryshaw commented on #79
Good morning. Thanks for those sketches.

Ultimately defer to you on this.  But wanted to ask again, just to make sure.... a steel angle, like below, would not work in this condition?

![image](https://user-images.githubusercontent.com/507113/68131689-13849c80-fee3-11e9-82be-ee9928b7b8e4.png)

[2019-11-04 15:13] lcpt opened #86 "Construction joints in basement walls."
![image](https://user-images.githubusercontent.com/12873038/68131884-15b81c80-ff1e-11e9-8095-06f775205fe7.png)

[2019-11-04 15:18] lcpt commented on #79
No, it's not strong enough.

[2019-11-04 15:19] theoryshaw commented on #79
Okay, sounds good. Thx! We'll move forward with the corbel.

[2019-11-04 15:22] theoryshaw commented on #79
Just to ask the question.  How about using a 12" wall from the basement to 1st floor, and then an 8" wall from the 1st to the 2nd?
Would give us a 4" ledge to bear the precast on.
Could something like that work?

I just trying to head off GC's questions to simplify.

[2019-11-04 15:25] theoryshaw commented on #79
Also too, sorry.  Could we get the precast guys to size these planks to support these truss loads?  So we could do without the corbel and would only need a lateral connection at these points.

[2019-11-04 15:35] lcpt commented on #79
This could work.

[2019-11-04 15:39] lcpt commented on #79
The truss loads are not a problem, the structural integrity of the planks at their connections with the ramp wall (as shown in the previous sketch) is. It was Grant who asked us to take care of this problem during our last telephone, so I think there is no chance they can help us.

[2019-11-04 15:40] theoryshaw commented on #79
Okay sounds good.  I'm going to ping Eric in here, to see if he has a preference between a 12" wall or a corbel.

Thanks, Ryan

[2019-11-04 16:35] anaiortega commented on #86
To control cracking in foundation walls, two types of joints are used:
- Vertical contraction joints (see detail 3/S200), spaced 25' at most.
- Vertical construction joints (see detail 4/S200) separating adjacent placements of concrete, that also work as contraction joints.
![joints](https://user-images.githubusercontent.com/12873329/68138737-4b163780-ff29-11e9-8c2f-5a1d0ee9c838.png)

[2019-11-04 19:28] theoryshaw opened #87 "Signage update"
from owner:

[2019-11-04 21:27] theoryshaw opened #88 "verify dimensions on A478, A474"
![image](https://user-images.githubusercontent.com/507113/68159496-7a23ad80-ff17-11e9-8785-794f55162ee4.png)

[2019-11-05 16:11] theoryshaw opened #89 "Plumbing and Mech backgrounds"
In the common and units file...

- [x] update the PLUMBING views with latest background here: `CTR\_closed_cannery district - eau claire\Transfer\20191029 - from PLUMB eng - latest backgrounds`
- [x] create MECH views, just like the PLUMBING views with the cad background here: `CTR\_closed_cannery district - eau claire\Transfer\20191031 - from MECH eng - latest backgrounds`
  - create a new 'MECH'

[2019-11-05 16:33] theoryshaw opened #90 "Titan screw anchors at exterior wall"
From GC:
![image](https://user-images.githubusercontent.com/507113/68226389-98d98100-ffb7-11e9-8662-947818a8169d.png)

[2019-11-05 16:37] theoryshaw commented on #79
from gc:
![image](https://user-images.githubusercontent.com/507113/68226758-3634b500-ffb8-11e9-8228-42c9a4b7cef7.png)

@lcpt, if you could, please move forward with a 12" wall, verses using a corbel.

[2019-11-05 16:45] theoryshaw commented on #90
Eric, I assume this is what you're looking at?...
https://www.strongtie.com/mechanicalanchors_mechanicalanchoringproducts/thd_anchor/p/titen-hd

@lcpt could you let Eric know the size/spacing for using titan screws in place of anchor bolts?

[2019-11-05 16:56] lcpt commented on #79
![image](https://user-images.githubusercontent.com/12873038/68228037-ffc95b00-fff4-11e9-921a-8d789ccc76a3.png)
OK. We'll remove the corbel and update the foundations and wall details.

[2019-11-05 17:09] theoryshaw commented on #77
![2019-11-05 11 06 48](https://user-images.githubusercontent.com/507113/68229313-9e859580-ffbc-11e9-80e0-230cfb105efc.jpg)

@lcpt is this what we want to propose to Grant?

[2019-11-05 17:21] lcpt commented on #77
Yes. Thanks Ryan.

[2019-11-05 17:48] theoryshaw opened #91 "Loads for the Truss Manufacturer"

[2019-11-05 19:06] lcpt commented on #91
![image](https://user-images.githubusercontent.com/12873038/68237593-b0d8f100-0007-11ea-92de-d5c21b74f01b.png)

[2019-11-05 19:12] lcpt commented on #79
![ramp_rc_walls_connections_1st_floor](https://user-images.githubusercontent.com/12873038/68237990-8dfb0c80-0008-11ea-98c0-58a2c7b79c45.jpeg)

[2019-11-05 19:18] lcpt commented on #81
Concerning the wood piece under the ladder truss I think it must be thicker (1/2" more) to make sure there is risk of loosing support due to thermal actions.

On the other hand I'll search for the equivalent Titan screws to replace current anchors.

[2019-11-05 19:28] theoryshaw commented on #79
Thanks Luis!  @chopinregis can you draft this up?  Keep the other corbel detail, however.

[2019-11-05 22:20] theoryshaw commented on #90
Just for clarity, i think Eric is talking about the condition below...

![image](https://user-images.githubusercontent.com/507113/68251102-0e5d4580-ffe8-11e9-88e4-6e7579ed039c.png)

[2019-11-05 22:21] theoryshaw commented on #91
I think he was looking for a plan with the loads superimposed on them--like we did for the precaster.  I could be wrong though.  I will ask.

[2019-11-06 11:12] anaiortega commented on #76
![20191106_steel_beams_ramp_01](https://user-images.githubusercontent.com/12873329/68293601-93029f00-008e-11ea-9f9f-c2b9fd2b2260.jpg)
![20191106_steel_beams_ramp_02](https://user-images.githubusercontent.com/12873329/68293615-9bf37080-008e-11ea-8d44-4519d221c2b0.jpg)
![20191106_steel_beams_ramp_03](https://user-images.githubusercontent.com/12873329/68293624-9f86f780-008e-11ea-97f0-ed9331cb0ea7.jpg

[2019-11-06 13:26] chopinregis commented on #79
Here is the update
https://71-thumbnail-images.first-draft.xyz/d/20191106_CTR_Structural_Detail/
![CTR - 1st Phase - Structure - Sheet - S202 - STRUCTURAL DETAILSs](https://user-images.githubusercontent.com/13260872/68301848-d3eabb80-006e-11ea-84e7-7e7f750a51f7.jpg)

[2019-11-06 14:44] theoryshaw commented on #79
@lcpt i took the first stab at markups.  We'll refine these and ping you later for a review.

[2019-11-06 15:40] lcpt commented on #79
OK.

[2019-11-06 21:13] theoryshaw commented on #76
Thanks @anaiortega!

@chopinregis can you take a stab at detailing these out?

Start with putting the correct beams in the floor plans, at at the correct elevation.  Just put the beams in the floor plans, no details.

Next, you can model up these details.

Thx.

[2019-11-06 21:34] theoryshaw commented on #76
@chopinregis you don't have to put voids for bolts holes, you can use the following bolt family..
https://github.com/OpeningDesign/BIM_Objects/blob/master/Revit_Objects/06%20-%20Wood,%20Plastics,%20and%20Composites/050523%20-%20W_P_C%20-%20Fastenings%20-%20Lag%20Bolt%20or%20Thru%20Bolt.rfa

![image](https://user-images.githubusercontent.com/507113/68339291-e9c9a200-00a9-11ea-8782-ac97b646abc0.png)

[2019-11-06 21:41] theoryshaw commented on #76
Remember to try and avoid 'voids' and 'cuts'.. they don't translate in our Freemvd workflow.

https://github.com/OpeningDesign/FreeMVD_WorkFlow/blob/master/Workflow/Workflow.md

[2019-11-07 00:27] theoryshaw commented on #77
Hi Luis, i would say this one is priority to finalize. Thx.

[2019-11-07 03:13] theoryshaw commented on #76
@anaiortega

Per the sketch below, how were you thinking this plate would engage the 8" concrete wall beyond?

![image](https://user-images.githubusercontent.com/507113/68357199-24e3c980-00da-11ea-8875-6178a8ff8d78.png)

[2019-11-07 07:56] anaiortega commented on #76
Sorry, do not go on with the modeling.  In this design, there are several geometrical and constructive incompatibilities that we must solve previously.

[2019-11-07 14:05] lcpt commented on #77
![image](https://user-images.githubusercontent.com/12873038/68395393-ee588e00-016f-11ea-9df5-d6be2ce567d0.png)
OK, I'll design this detail and draw the sketches of the whole thing.

[2019-11-07 14:59] theoryshaw commented on #77
Thanks Luis.

Can you also look at this?

![image](https://user-images.githubusercontent.com/507113/68399998-e6cbc180-013c-11ea-9d7d-d2ae59a93b90.png)

[2019-11-07 15:01] theoryshaw commented on #76
Sounds good.  We'll hold off.

[2019-11-07 15:11] theoryshaw commented on #76
Also, fyi, i changed the wall circled (red) below to 12" all the way up to accommodate that 10" wide base plate, if you still think that solution the best.

The other wall, however, circled in blue, is still 8" above.

Latest drawings submitted to GC: CTR\Transfer\20191107 - to GC -Updated Foundation

![image](https://user-images.githubusercontent.com/507113/68400852-555d4f00-013e-11ea-8fac-930b79

[2019-11-07 17:24] theoryshaw opened #92 "lintels in elevator tower"
![image](https://user-images.githubusercontent.com/507113/68412015-21d7f000-0151-11ea-9007-fab1ac30a87f.png)

[2019-11-07 17:26] theoryshaw opened #93 "size steel angle and fasteners size/spacing at ada ramp"
![image](https://user-images.githubusercontent.com/507113/68412089-4338dc00-0151-11ea-8063-09fc3cfe9d10.png)

[2019-11-07 17:33] theoryshaw opened #94 "Detail of built up curb and floor"
Need a detail of the condition below.

This is the GC's sketch.

@lcpt, Defer to you on best approach.

![image](https://user-images.githubusercontent.com/507113/68412605-251fab80-0152-11ea-9d22-9830fc02f62a.png)

[2019-11-08 10:28] anaiortega commented on #76
Thickening the wall doesn't fix the problem, because, even if we'd place the hollow core over the steel beams, we still need some wall highness over the beam to allow room for the plate and upper anchors. We propose two possible solutions: the first one (option 1 in the sketch), by extending the steel beam over the RC wall; the 2nd (option 2) would be an RC solution, cantilevering a  concrete slab

[2019-11-08 18:33] theoryshaw commented on #76
Hi @anaiortega, could we do something like this?...
https://www.dropbox.com/s/q86os7e90j3yrsp/JQZYiraqAX.mp4?dl=0

This approach helps with fire separation too.

[2019-11-08 19:44] lcpt commented on #77
Yes, I'm adapting/redefining the whole thing.

[2019-11-11 07:57] anaiortega commented on #76
All right then, we design the bearing plates and anchors for that solution.

[2019-11-11 19:20] lcpt commented on #77
![page_01](https://user-images.githubusercontent.com/12873038/68614145-9a77dd00-04c0-11ea-8476-e587c26004a9.jpeg)

[2019-11-11 19:21] lcpt commented on #77
![page_02](https://user-images.githubusercontent.com/12873038/68614180-b3808e00-04c0-11ea-82d7-3aae9b82078e.jpeg)

[2019-11-11 19:21] lcpt commented on #77
![page_03](https://user-images.githubusercontent.com/12873038/68614222-cb581200-04c0-11ea-82a3-3cb23f32f488.jpeg)

[2019-11-11 19:56] theoryshaw commented on #77
I think they formed and poured the footings already.

We might have to modify this relative to that.  Maybe a greater bearing distance than 1ft?

I think they are forming and rebaring the walls right now.

I just asked the GC for an update on where they are at.

[2019-11-11 20:15] theoryshaw commented on #77
Yes, the footings are all poured around the perimeter of the building.

So they have a WF48 along the entirely of that south wall with the following dimensions...

![image](https://user-images.githubusercontent.com/507113/68617765-88c91200-048d-11ea-92a1-6f59378551e7.png)

The south wall, however has not been formed or rebared yet, but they are going to do that shorty.

[2019-11-12 10:28] lcpt commented on #77
We can reinforce both faces of the wall in that zone and take advantage of the load diffusion on the wall:
![alternative](https://user-images.githubusercontent.com/12873038/68663668-6099eb80-053f-11ea-8780-2806366e18d7.jpeg)
I'll send you a sketch today.

[2019-11-12 11:07] lcpt commented on #94
This is the reinforcement I propose for this element:
![built_up_curb_reinforcement](https://user-images.githubusercontent.com/12873038/68666525-60501f00-0544-11ea-94d2-22fae2481548.png)

Concerning the structural filling at left, any lightweight structural filling will do. We can put a 6" EPS layer and the 3" topping over it.

[2019-11-12 14:17] anaiortega commented on #76
![beams_bearing](https://user-images.githubusercontent.com/12873329/68678738-cd70ae00-055e-11ea-97d4-19b6549591c6.png)
![section](https://user-images.githubusercontent.com/12873329/68678754-d2356200-055e-11ea-84f6-a4acec2c9fe3.png)
This is the detail for bearing the steel beams on the ramp walls. It replaces the detail depicted in section 2-2 of the sketches sent on 11/06.

[2019-11-12 18:35] lcpt commented on #77
![alternative_rev01](https://user-images.githubusercontent.com/12873038/68699395-3ff38500-0583-11ea-9a35-b6318d39a38a.jpeg)

Can we do this?

[2019-11-12 20:29] theoryshaw commented on #77
Yes, i think.  Thanks!

[2019-11-13 15:20] #80 closed, assigned to theoryshaw

[2019-11-14 15:46] lcpt commented on #78
![corner_cantilever_condition](https://user-images.githubusercontent.com/12873038/68872337-29be0400-06fe-11ea-8376-4bebbe251ee9.jpeg)
This is the solution I imagine for the cantilevers on the corners.

[2019-11-14 16:23] theoryshaw commented on #76
Hi @anaiortega can we push these off center?  If so, what's the max delta?
Just want to create more 'fire separation' between the garage and the residences.

![chrome_aAXy8AWSTt](https://user-images.githubusercontent.com/507113/68875615-c06fce00-06c8-11ea-9039-f9d9a0244573.png)

[2019-11-14 17:06] anaiortega commented on #92
![hoja1](https://user-images.githubusercontent.com/12873329/68879298-778c3980-0709-11ea-898b-c47f2c32ecfd.png)
![hoja2](https://user-images.githubusercontent.com/12873329/68879303-7a872a00-0709-11ea-82e8-2d1d772f409c.png)

[2019-11-15 10:27] anaiortega commented on #76
Hi @theoryshaw ,
I'm not sure if I've understood the question right. In this approach, we have the steel column and the central beam (W14x53) in direct contact with the garage space, and, therefore, some kind of passive fire protection material must be applied. Isn't it possible to use the same coating for the lateral beams?. We have very little margin to push the beams off-center since the walls

[2019-11-15 14:25] theoryshaw commented on #76
Thanks Ana!... we'll just go with what you have drafted.

[2019-11-15 19:36] #77 closed, assigned to chopinregis

[2019-11-19 15:47] theoryshaw commented on #76
@anaiortega

For those (2) end beams, can we use  w14x43's instead of w14x30's?

It has a wider flange, and will make welding more accessible, or easier to get at.  Also, provides a wider bearing.

![image](https://user-images.githubusercontent.com/507113/69161769-44eb9380-0ab1-11ea-85cf-99b7fe2812c2.png)
****

[2019-11-19 17:26] anaiortega commented on #76
From a resistance standpoint, there is no problem, since the resistant capacity of the W14x43 is bigger than that of the W14x30. The only thing could be the clearance between the top of the hollow core and the top of the beam top flange (13.66-2*0.53*12=0.6""). Usually, the minimum clearance required in order to grout the topping is 3/4", so, in that case, the top of the hollow core should be dapp

[2019-11-19 17:29] anaiortega commented on #76
(13.66-2*0.53-12=0.6"") *

[2019-11-20 15:17] #86 closed, assigned to anaiortega

[2019-11-21 16:18] theoryshaw commented on #94
@lcpt what psi EPS insulation would you recommend under the topping?

![image](https://user-images.githubusercontent.com/507113/69355908-3b486400-0c48-11ea-8cf0-3695fef311c6.png)

[2019-11-22 03:57] theoryshaw commented on #94
![image](https://user-images.githubusercontent.com/507113/69396993-e63d3a00-0ca9-11ea-9136-5ff7b5196717.png)

Also, what's the O.C. spacing of that?

[2019-11-22 15:57] lcpt commented on #94
Sorry it was #4 1'-0" o/c. I've not calculated its length but an embedment of 8 inches (ca. 20 cm) will be enough.

[2019-11-24 21:10] lcpt commented on #94
![sub_slab_eps_fill](https://user-images.githubusercontent.com/12873038/69501640-3238ea80-0f07-11ea-8d19-58818359ef7f.png)
40 psi will do.

[2019-11-24 21:43] theoryshaw commented on #94
Can 25psi work?

[2019-11-25 13:29] lcpt commented on #94
Not really. The elastic modulus of the EPS drops with its compressive strength, and we a have a relatively thick (6 inches (ca. 15 cm)) EPS layer. If we put a softer material we risk having some cracks in the topping.

[2019-11-25 13:31] lcpt commented on #94
![image](https://user-images.githubusercontent.com/12873038/69544534-378e4780-0f90-11ea-8f1c-3e29b7e3ceac.png)

[2019-11-25 15:21] #76 closed, assigned to chopinregis

[2019-11-25 21:47] theoryshaw opened #95 "Please provide exact locations for all holddowns attaching to the precast."
From Precast supplier...

[2019-11-25 21:49] theoryshaw opened #96 "Please provide a detail for how holddowns will connect to the plank."
From Precast supplier

![image](https://user-images.githubusercontent.com/507113/69580897-1aab4180-0f9b-11ea-97bf-bb51d8de86a3.png)

[2019-11-25 21:51] theoryshaw opened #97 "Please provide the in plane horizontal shear load for all plank ot wall connections so that we can verify connection capacities."
from precast supplier:

[2019-11-25 21:52] theoryshaw opened #98 "Concrete or CMU pier near elevator"
from precast supplier:

[2019-11-25 21:52] #94 closed, assigned to chopinregis

[2019-11-25 21:56] #75 closed, assigned to chopinregis

[2019-11-25 21:56] #79 closed, assigned to chopinregis

[2019-11-25 22:32] theoryshaw opened #99 "Lintel condition at east intake."
October 8th sketch from @anaiortega

![image](https://user-images.githubusercontent.com/507113/69583271-1fbebf80-0fa0-11ea-979d-0368e97b95c7.png)

Photo a couple days ago...

![intake louver](https://user-images.githubusercontent.com/507113/69583348-5268b800-0fa0-11ea-9b2a-b9b89d674ac2.jpeg)

Proposed sketch..

![image](https://user-images.githubusercontent.com/507113/69583422-7af0b200-0fa0-11ea-8

[2019-11-25 23:14] theoryshaw opened #100 "Concrete lintels along south wall"
Questions:
http://dev.first-draft.xyz/d/20191125_CTR_Concrete_Lintel_South_Wall/

[2019-11-26 12:32] lcpt commented on #99
Sorry, it's my fault. Ana has explained to me that you have made a change for this lintel and yesterday I've picked the old version sketch. The good one is the sketch sent by Ana you have put in first place.

[2019-11-26 12:39] lcpt commented on #99
On the other hand, in the photo the three rebars at bottom seem too tight together, maybe it's only the perspective.

[2019-11-26 16:01] #100 closed, assigned to lcpt

[2019-11-26 16:04] #99 closed, assigned to lcpt

[2019-11-26 17:37] theoryshaw opened #101 "Review precaster's details at south wall beam"
Details:
CTR\_closed_cannery district - eau claire\Building Products\03 - Concrete\03 40 00 Precast Concrete\20191126 - from Precast Eng - Details at Precast Beam - for review

from precast supplier

[2019-11-26 17:37] theoryshaw commented on #101
@lcpt i'll take an initial stab at reviewing.

[2019-11-26 18:31] theoryshaw opened #102 "1st floor wall at the south of the ramp"
@lcpt Possible to sketch up the condition below?

The precast supplier was asking.

![image](https://user-images.githubusercontent.com/507113/69661667-6e279900-1048-11ea-8f34-ce1f64a6a132.png)

[2019-11-26 23:04] theoryshaw opened #103 "Sister 2x joists to acquire fire rating"

[2019-11-26 23:04] theoryshaw opened #104 "rescheck with 2x6s"
rescheck with 2x6s

[2019-11-26 23:05] theoryshaw opened #105 "Balcony over entry"
Balcony over entry

[2019-11-26 23:05] theoryshaw opened #106 "smaller balconies"
smaller balconies

[2019-11-26 23:06] theoryshaw opened #107 "switch door and side windows to sliding doors"
switch door and side windows to sliding doors

[2019-11-26 23:07] theoryshaw opened #108 "Corridor wall to accept standard hollow metal frame"
Corridor wall to accept standard hollow metal frame

[2019-11-26 23:17] theoryshaw opened #109 "rigid insulation on roof"
rigid insulation on roof

[2019-11-26 23:21] theoryshaw opened #110 "Cantilever condition"

[2019-11-26 23:22] #89 closed, assigned to chopinregis

[2019-11-26 23:28] theoryshaw opened #111 "Clerestory windows in commons area"

[2019-11-26 23:28] theoryshaw opened #112 "Refrigerator in commons"
Refrigerator in commons

[2019-11-26 23:29] theoryshaw opened #113 "Articulate hallway near lobby"

[2019-11-27 14:42] theoryshaw commented on #101
@lcpt

Here's my review...
CTR\_closed_cannery district - eau claire\Building Products\03 - Concrete\03 40 00 Precast Concrete\20191127 - from ARCH to STRUCT - reviewed precast beam details\20191127 - precast beam at south wall - OD reviewed.pdf

If you can, please take a quick review as well.

Thanks, Ryan

[2019-11-27 16:12] lcpt commented on #101
OK. I'll do it now.

[2019-11-27 16:25] lcpt commented on #102
![1st_floor_wall_south_ramp_connections](https://user-images.githubusercontent.com/12873038/69741176-dfe00f80-113a-11ea-9a9f-dc3c390ec5ee.jpeg)
I think this can work.

[2019-11-27 16:55] theoryshaw commented on #102
Thanks Luis, do we need starter rebar drilled into the plank, that would extend up into the RC wall?

[2019-11-27 17:04] lcpt commented on #102
The wall doesn't need to bear into the precast floor which, in turn is not intended to support the wall. If we join them we don't master the way they work. I think it's better to let them "mechanically" apart.

[2019-11-27 17:17] theoryshaw commented on #102
i gotcha, so that RC wall is a big beam essentially.

[2019-11-27 17:18] theoryshaw commented on #102
I have a feeling, however, they might want to use CMU at this condition.

[2019-11-27 17:32] lcpt commented on #102
Yeah, it's a big beam which help us resist horizontal forces coming from 1st floor too. I feel very comfortable having this RC wall there :). Specially after all the discussions about the topping and the diaphragm forces with Reigstad.

[2019-11-27 17:41] theoryshaw commented on #102
Sounds good. We'll push for that then. Thanks!

[2019-11-27 17:56] #102 closed, assigned to lcpt

[2019-11-27 18:05] lcpt commented on #101
Here's mine:

_CLOSED_Cannery District - Eau Claire/Building Products/03 - Concrete/03 40 00 Precast Concrete/20191127 - from STRUCT to ARCH - reviewed precast beam details

[2019-11-27 19:02] #101 closed, assigned to lcpt

[2019-12-02 16:10] anaiortega commented on #98
![column_B1](https://user-images.githubusercontent.com/12873329/69974954-902c8a00-1526-11ea-83ec-c3547ea4f3c6.png)

[2019-12-02 16:17] theoryshaw commented on #98
Thanks Ana, Is it possible to go with a CMU column here instead?  I think it will be easier for the GC to integrate a CMU column into the CMU walls of the elevator shaft.

[2019-12-02 17:41] anaiortega commented on #98
The column bears a compressive force of about 1200 kN. If we design it in CMU, the cross-section would probably be 24x40"

[2019-12-02 17:48] theoryshaw commented on #98
Thanks Ana, we'll keep the concrete column as you designed.

[2019-12-03 13:00] lcpt commented on #96
![hold_down_detail_with_diameters](https://user-images.githubusercontent.com/12873038/70053224-3d5ddb80-15d5-11ea-9030-28dc0e185c20.jpeg)

[2019-12-03 14:30] theoryshaw commented on #96
Thanks Luis,

Are you suggesting the contractor can choose from the following 3 hold down options?

- Simpson hdu4
- Simpson hd19
- Simpson hdu4-sds2.5

Thanks, Ryan

[2019-12-03 14:32] theoryshaw commented on #96
Nevermind, i see they are referenced back to the shear wall schedule.
Thanks.

[2019-12-03 14:33] lcpt commented on #96
Correct.

[2019-12-03 18:05] lcpt commented on #95
Key plan:
![key_plan](https://user-images.githubusercontent.com/12873038/70076516-3e0b6780-15ff-11ea-8c9c-97f166278025.jpeg)

Hold-down anchor types:
![holddown_anchors_position](https://user-images.githubusercontent.com/12873038/70076611-6f843300-15ff-11ea-9401-88776a61921a.jpeg)

Sketches:
![sketches](https://user-images.githubusercontent.com/12873038/70076657-875bb700-15ff-11ea-81b0-062185baab8

[2019-12-03 19:02] theoryshaw commented on #95
@lcpt Can you push the actual spreadsheet files for the shear wall schedule and the hold down schedule and other schedules? I think there might be a quick way where i can translate that, via a CSV, into Revit.

[2019-12-03 19:53] theoryshaw opened #114 "Shear wall near gridline (2) at 2nd and 3rd floor"
@lcpt,
Did you intend for the wall, circiled below, at the 2nd and 3rd floors, to be a shear wall?

There is no shear wall at that location on the 1st floor, because of the community room.

![image](https://user-images.githubusercontent.com/507113/70084510-01764680-15d4-11ea-914a-a3ebfd3118e8.png)

[2019-12-04 09:46] lcpt commented on #114
My idea is (and was) to attach it to the south wall of the ramp: EC1A
![image](https://user-images.githubusercontent.com/12873038/70131838-44432780-1683-11ea-8b31-2447c21c0ea6.png)

[2019-12-04 10:04] lcpt commented on #95
There it goes: _CLOSED_Cannery District - Eau Claire/Transfer/20191203 -f from STRUCT - hold-downs anchors location/holddown_anchors_position.ods

[2019-12-11 06:50] theoryshaw commented on #98
Good morning @anaiortega
Can you review this? Circled in red.
http://dev.first-draft.xyz/d/20191211_CTR_column_at_elevator/

Would like to issue this today to the GC.

[2019-12-11 11:10] lcpt commented on #98
Good morning.

Ana is attending a course today. I've compared the drawing with hers manuscript. You can find my remarks in first-draft.

[2019-12-11 16:35] #97 closed, assigned to lcpt

[2019-12-13 19:34] theoryshaw opened #115 "(non-bearing) party walls between the units go with 2x6's 24" o.c.?"
Hi @lcpt,

At the (non-bearing) party walls between the units, the GC was wondering if they could go with 2x6's at 24" o.c.

Okay?

Thanks, Ryan
![Revu_Do96etqDcR](https://user-images.githubusercontent.com/507113/70826729-46a53000-1dad-11ea-9445-e81d06a4c5b3.png)

[2019-12-13 19:57] theoryshaw commented on #114
sounds good.  Will the attachment at that condition circled below be unique?  Or just called out in the shear wall schedule?
![image](https://user-images.githubusercontent.com/507113/70828102-5114f900-1db0-11ea-88c8-823af26d2619.png)

[2019-12-16 11:32] lcpt commented on #115
OK for those that are not shear walls:
![1st_floor_key_plan](https://user-images.githubusercontent.com/12873038/70903815-05588e80-2000-11ea-8ab5-a8a7c191a0a8.png)
![2nd_floor_key_plan](https://user-images.githubusercontent.com/12873038/70903817-05f12500-2000-11ea-82cf-64778785a093.png)
![3rd_floor_key_plan](https://user-images.githubusercontent.com/12873038/70903818-05f12500-2000-11ea-9386-b628ea8

[2019-12-16 12:15] lcpt opened #116 "Stud spacement in shear walls S2A and S2B"
![2nd_floor_key_plan](https://user-images.githubusercontent.com/12873038/70905934-7484b180-2005-11ea-80ac-4d8f4e82aaf3.png)
There is an error in the bearing wall schedule for those walls in the second floor. The spacing there must be 12 inches (ca. 30 cm):

![image](https://user-images.githubusercontent.com/12873038/70906077-d6ddb200-2005-11ea-9f77-22457ae54a08.png)

[2019-12-16 13:28] lcpt commented on #114
I think it's enough to call it out on the shear wall schedule. On second thought, maybe it's better to draw a scheme of the whole set: the shear wall, the truss and the concrete wall.

[2019-12-17 21:41] theoryshaw commented on #116
sounds good.  Will update plans.

[2019-12-18 23:40] theoryshaw opened #117 "(2) 2x12's rim boards for the floor trusses"
@lcpt

Instead of LVL rim boards for the floor trusses, the GC would like to use (2) 2x12's instead.

Would this be okay?

[2019-12-18 23:41] theoryshaw opened #118 "Review elevator shops"

[2019-12-18 23:41] theoryshaw opened #119 "Research if 2nd bathroom in basement is need"

[2019-12-18 23:42] theoryshaw commented on #119
if not, move dog shower where the bathroom currently is.

[2019-12-18 23:42] theoryshaw opened #120 "research if smoke curtain is necessary on 1st floor."

[2019-12-19 15:35] lcpt commented on #117
![image](https://user-images.githubusercontent.com/12873038/71186321-4dd0b000-227d-11ea-89d0-f543179651f0.png)

As you can see it's not a standard design. I think it's not a good idea.

[2019-12-19 16:26] theoryshaw commented on #117
...as you would expect from a institution for engineered wood, would say. ;)

[2019-12-19 17:01] lcpt commented on #117
Yeah, it's not always a good idea to ask your hairdresser if you need a hair cut. But it's also true that the shear stress can't go through the joint between the panels. You can always make a calculation like the one we did for the corridor joists to see what happens but this takes time...

[2019-12-19 19:52] theoryshaw opened #121 "update stair details to more conventional framing"
update stair details to more conventional framing

[2019-12-19 19:58] theoryshaw opened #122 "smaller vanities in the bathrooms"
smaller vanities in the bathrooms
6 -> 5ft
5ft -> 4ft  (i changed this already for a few units)

[2019-12-19 20:08] theoryshaw opened #123 "Access panel for magic paks in closets."
Just for just those magic paks accessed via the closet, change the door to an access panel instead.

Create your own family.  Start with the door template family.

Label it...
083100 - Access Doors and Panels - Type 1.rfa

Save to...
BIM_Objects/Revit_Objects/08 - Openings/

[2019-12-19 20:16] theoryshaw opened #124 "Change all pocket doors to swing doors."
In the units...

Change all pocket doors to swing doors.

Change all barn doors to swing doors.

Take care to use the correct 'door type' in a particular area--as the associated door hardware is assigned to these types.

[2019-12-19 20:18] theoryshaw opened #125 "24 inch closets need to be at least 30 inches clear as 24 inches is too small"
in unit...

This might not be able work in some units, because moving the closet wall would infringe on the necessary ada clearance in the room/hallway.

[2019-12-19 21:10] theoryshaw opened #126 "wood handrailing in stair"
wood handrailing in stair

[2019-12-19 21:13] theoryshaw opened #127 "Reconfigure the 1bd - Type A"

[2019-12-19 21:56] theoryshaw opened #128 "door to bathroom from hallway"
for STs and 1BDs...
and smaller baths in 2bds

from owner...

[2019-12-19 22:00] theoryshaw opened #129 "tubs to shower"
in 1bd and ST - change tub to showers (i did this already for a number of them)

in 2bd Master - change tub to shower.

Smaller bath in 2bd can have a tub.

[2019-12-20 14:27] theoryshaw opened #130 "Changes in 2bd"
Master Bath in 2BD
- change tub to shower
- remove door from hallway to master bath
- remove small linen closets (convert this space to an alcove next to the unit's entry)

Smaller Bath in 2BD
- change shower to tub
- add door from hallway to bath
- remove small linen closets

[2019-12-20 15:30] theoryshaw opened #131 "Relocate washer/dryer"
![image](https://user-images.githubusercontent.com/507113/71264806-7b176f80-230a-11ea-90cb-e3e4435dfab8.png)

https://www.dropbox.com/s/cnkkv1c6n295w4p/bxKC83saIB.mp4?dl=0

Do this for all the STs on all the floors

[2019-12-20 16:30] theoryshaw opened #132 "Reconfigure 1BD"
Maybe something like this...

![Revu_vu1NdXPZeD](https://user-images.githubusercontent.com/507113/71268652-07c62b80-2313-11ea-94c7-211676760b6a.png)

[2019-12-20 17:11] #88 closed, assigned to nobody

[2019-12-20 17:57] bdmock commented on #87
![CTR_logo signage update 1](https://user-images.githubusercontent.com/3970626/71280077-e7e93480-231f-11ea-8c8a-641c9c819062.JPG)

[2019-12-20 18:20] bdmock commented on #131
![image](https://user-images.githubusercontent.com/3970626/71281208-ec631c80-2322-11ea-9341-00b31cc452eb.png)
![image](https://user-images.githubusercontent.com/3970626/71281233-00a71980-2323-11ea-8146-d5d0cef0771d.png)
Can you catch the view template adjustment? It's not supported in LT.

[2019-12-20 18:23] theoryshaw commented on #131
![image](https://user-images.githubusercontent.com/507113/71281456-8fb43180-2323-11ea-8efa-b3b1c1d94ace.png)

haha

[2019-12-21 17:58] theoryshaw opened #133 "update elevations with new doors and window sizes"
update elevations with new doors and window sizes

[2019-12-27 18:33] theoryshaw commented on #92
Hi Ana,

Hope you had a nice Christmas/Hanukkah/Kwanzaa break! :)

Now that we know what that precast beam will be through the elevator, I just wanted to verify what that lintel condition needs to be at the CMU wall.  See sketch below.

![image](https://user-images.githubusercontent.com/507113/71528132-1d53cc00-28a4-11ea-9c8b-a93c687d59da.png)

[2019-12-27 18:34] #98 closed, assigned to lcpt

[2019-12-30 12:08] anaiortega commented on #92
Thanks, Ryan, wish you all the best for the new year.
In order to design a solution for this lintel, we need to know the stage of the construction at the present time, specifically if the concrete basement wall, column and CMU elevator wall are already built.

[2019-12-30 15:02] theoryshaw commented on #92
Hi Ana, only the footings for these areas are being formed, and poured.  They have not started on the ramp walls, or the concrete column near the elevator yet.

I would assume it will be formed how we design it.

[2019-12-30 16:14] theoryshaw opened #134 "hold down detail at shear wall at Grid 1, 0-A.1"
hold down detail at shear wall at Grid 1, 0-A.1

[2019-12-30 16:15] #117 closed, assigned to lcpt

[2019-12-30 17:04] bdmock commented on #133
http://dev.first-draft.xyz/d/20191220_CTR_elevation_alignments/

[2019-12-30 22:19] theoryshaw commented on #118
@lcpt Can you review these as well?

CTR\_closed\Products\14 - Conveying Equipment\Elevators\KONE\Submittals\20191114\KONE Approval Submittal 2019-11-13 Cannery Trails.pdf

[2019-12-30 23:34] theoryshaw commented on #118
fyi, Kone confirmed that we can change the hoistway width to 7'-0"
![image](https://user-images.githubusercontent.com/507113/71604885-8e0c1a00-2b2a-11ea-9734-42b2555a831a.png)

[2019-12-31 03:46] bdmock commented on #124
http://dev.first-draft.xyz/d/20191230_CTR_Unit_Revisions/

[2019-12-31 17:44] theoryshaw opened #135 "Put similar floor finishes on 1st floor units, as those on the 2nd and 3rd floors"
Put similar floor finishes on 1st floor units, as those on the 2nd and 3rd floors

That is, they are not going with exposed concrete anymore on the 1st floor.

[2019-12-31 20:12] theoryshaw commented on #118
@lcpt

FYI, here's our review so far...
CTR\\_closed\Products\14 - Conveying Equipment\Elevators\KONE\Submittals\20191114\20191231 - KONE Approval Submittal 2019-11-13 Cannery Trails - OD Reviewed.pdf

[2020-01-02 11:20] lcpt commented on #134
![20191230_084809](https://user-images.githubusercontent.com/12873038/71664680-26d4ac80-2d5a-11ea-8bdb-341b48200580.jpg)
This is the sketch sent by Grant. The wall is already poured, isn't it?

[2020-01-02 13:23] theoryshaw commented on #134
Yes it is poured.

[2020-01-02 18:48] lcpt commented on #118
I've reviewed those plans and, apart the question about the openings we have chatted about, I have no remarks about them.

[2020-01-02 20:43] theoryshaw opened #136 "relocate louver in elevator to the north wall."
relocate louver in elevator to the north wall.

[2020-01-03 16:08] anaiortega commented on #92
Hi Ryan,
For the lintel on the 1st floor, we are working on this kind of solution. Can you see any constructive problem?
![sketch](https://user-images.githubusercontent.com/12873329/71734148-81016a80-2e4b-11ea-9d94-8cabdc664f20.jpg)

[2020-01-04 03:30] bdmock commented on #132
http://dev.first-draft.xyz/d/20191230_CTR_Unit_Revisions/
(sketch to be updated w/ 2bd push)

[2020-01-04 03:47] bdmock commented on #130
![image](https://user-images.githubusercontent.com/3970626/71759406-31826500-2e72-11ea-83a5-046d9b6bbb66.png)
![image](https://user-images.githubusercontent.com/3970626/71759434-9f2e9100-2e72-11ea-9fca-9ff84a36331d.png)
(pg 9 https://www.bozeman.net/Home/ShowDocument?id=60)

[2020-01-04 03:49] bdmock commented on #130
The bozeman document shows this as the only option for showers in the Type A bathrooms

[2020-01-04 03:50] theoryshaw opened #137 "update the plans relative to speced washer/dryer"
heres' the specs..
CTR/_closed/Products/22 - Plumbing/224000 - Plumbing Fixtures/Stacked Washer Specs.pdf

![image](https://user-images.githubusercontent.com/507113/71759457-e026a580-2e72-11ea-8bd7-f4180ebb7946.png)

[2020-01-04 03:52] bdmock commented on #130
![image](https://user-images.githubusercontent.com/3970626/71759483-3a276b00-2e73-11ea-9a76-3b7e6fa5a1ab.png)

This seems the way to go. Am I right in thinking so?

[2020-01-04 03:57] bdmock commented on #130
at least in the Type A 2bd master bath

[2020-01-04 04:01] theoryshaw commented on #137
you need to create a new door type too.

![image](https://user-images.githubusercontent.com/507113/71759559-7a3b1d80-2e74-11ea-94ee-be32e8921795.png)

These offset pivot doors probably won't make the budget, but let's propose this for now.

[2020-01-04 04:05] bdmock commented on #137
ok

[2020-01-04 04:58] theoryshaw commented on #130
I think we can get away with this...

![image](https://user-images.githubusercontent.com/507113/71759965-b625b100-2e7b-11ea-8f28-23a094d086e6.png)

---

1.
![image](https://user-images.githubusercontent.com/507113/71759979-da818d80-2e7b-11ea-8e8b-44ac52bcd2d1.png)

![image](https://user-images.githubusercontent.com/507113/71759998-35b38000-2e7c-11ea-8ba9-92a4a375f3f7.png)

![image](https://user-im

[2020-01-04 06:39] bdmock commented on #130
http://dev.first-draft.xyz/d/20191230_CTR_Unit_Revisions/

[2020-01-04 06:54] theoryshaw commented on #137
Probably makes sense if that's a 2x6 wall.
![image](https://user-images.githubusercontent.com/507113/71761097-bf6b4980-2e8c-11ea-9eae-6a665b860833.png)

[2020-01-04 20:41] bdmock commented on #130
![image](https://user-images.githubusercontent.com/3970626/71771430-43124e00-2f00-11ea-9cce-43d6ec237701.png)
The smaller bath doesn't really allow for a forward door approach to the hallway door.

[2020-01-04 20:45] bdmock commented on #130
http://dev.first-draft.xyz/d/20200104_CTR_Unit_Revisions/

[2020-01-04 21:18] bdmock commented on #125
swept through on this one

[2020-01-04 21:20] bdmock commented on #129
Swept through all units

[2020-01-04 21:31] bdmock commented on #128
Swept through on all units

[2020-01-07 05:46] bdmock commented on #137
Swept through all units

[2020-01-07 16:41] theoryshaw commented on #92
Hi @anaiortega,

They don't make a CMU that size.

Since this CMU will be exposed to the finish space, would it be possible to do something like this?

http://dev.first-draft.xyz/d/20200107_Elevator_Lintels2/

As you saw from the GC's email this is probably priority now.

Thanks!

[2020-01-07 16:51] #118 closed, assigned to theoryshaw, lcpt

[2020-01-07 22:57] bdmock commented on #123
Swept through all relevant units

[2020-01-08 11:13] anaiortega commented on #92
Hi Ryan,
By no means we can reduce the column cross-section. Would it be possible to do something like this?
![pic](https://user-images.githubusercontent.com/12873329/71973828-3fd4d600-3210-11ea-8526-8bd351e6ce2f.png)

[2020-01-08 11:56] anaiortega commented on #92
![20200108114902_001](https://user-images.githubusercontent.com/12873329/71976285-38b0c680-3216-11ea-9b19-096fb8fa17ff.jpg)
Revision of sketch sent on Nov. 14, 2019. Revision clouds in blue.

[2020-01-08 14:50] theoryshaw commented on #92
Yes, we can do something like this.  We'll draft it up.

[2020-01-08 23:15] theoryshaw commented on #127
@bdmock can you tackle this one too?

Let's change one of the 2nd floor 1BD's to a Type A and convert that 1st floor Type A to a Type B.

[2020-01-09 04:34] theoryshaw commented on #92
Hi @anaiortega, can you review the following pdf?
CTR\Transfer\20200108 - to STRUCT - review of elevator elevation\CTR - elevator elevations.pdf

Thanks, Ryan

[2020-01-09 14:25] anaiortega commented on #92
Hi @theoryshaw,
Find attached my review
[20200109_elevator_lintels_review.pdf](https://github.com/OpeningDesign/CTR/files/4040811/20200109_elevator_lintels_review.pdf)

[2020-01-09 14:48] anaiortega commented on #92
Hi @chopinregis,
Find review of elevator elevation:
CTR\Transfer\20200109_toARCH_review_elevator_elevation\20200109_elevator_lintels_review.pdf

[2020-01-09 14:52] chopinregis commented on #92
thank you @anaiortega

[2020-01-09 15:16] #91 closed, assigned to lcpt

[2020-01-09 15:24] lcpt commented on #78
We adopted the solution proposed by Kurt. See 'Transfer/20191203 - from SEO - sketch of cantilever conditions'

[2020-01-09 15:24] #78 closed, assigned to lcpt

[2020-01-09 15:27] lcpt opened #138 "South basement wall infill reinforcement."
The vertical reinforcement of the CMU walls doesn't reach the CIP lintels.

![image](https://user-images.githubusercontent.com/12873038/72080319-e0a0bf80-32fc-11ea-89c9-d8455fcbb978.png)

[2020-01-09 15:57] lcpt opened #139 "Ramp wall corner detail"
The reinforcement at the corner as represented in the plan was wrong.

![image](https://user-images.githubusercontent.com/12873038/72082819-12b42080-3301-11ea-9637-43832d164454.png)

![56F4C68F-5977-4D72-A628-C8AB44E03A59](https://user-images.githubusercontent.com/12873038/72082100-efd53c80-32ff-11ea-9463-73da062ce963.jpeg)

[2020-01-10 19:44] lcpt commented on #134
![connection_sketch](https://user-images.githubusercontent.com/12873038/72181583-f7711000-33e9-11ea-9d02-596765710211.jpeg)

[2020-01-10 19:49] theoryshaw commented on #134
seems good to me. Were you planning on forwarding this to Grant?

[2020-01-13 11:52] lcpt commented on #134
I sent it Friday evening.

[2020-01-13 14:30] #134 closed, assigned to lcpt

[2020-01-13 14:42] lcpt opened #140 "Issues with flush steel beams over store front areas (9 on S214), etc.."
![image](https://user-images.githubusercontent.com/12873038/72263945-2b327c80-361a-11ea-9ed7-013070c489d3.png)

They want to replace the steel beam by a set of LVL header adding two supports.
The problem with this is that those supports introduce loads that have not been considered for the precast floor design.

I've not seen any explanation about the problem with our "splitted" steel beam. I'll a

[2020-01-13 15:03] lcpt opened #141 "Detail 6 on S215: height of the double plate."
![image](https://user-images.githubusercontent.com/12873038/72266170-1c4dc900-361e-11ea-9381-45e452fdd3c3.png)

Jeff Holm: "_detail 6 on S215 will need to be clarified as well, I do not see an actual height of the double top plate on the partially flush beam._"

[2020-01-13 15:05] lcpt commented on #141
This double plate is simply the double plate that runs over all the wall studs. Am I missing something?

[2020-01-13 15:28] lcpt commented on #139
[Z-03-Ramp_South_Wall-Additional_Rebar.pdf](https://github.com/OpeningDesign/CTR/files/4054235/Z-03-Ramp_South_Wall-Additional_Rebar.pdf)

[2020-01-13 15:29] lcpt commented on #139
![anchorage_plate_detail](https://user-images.githubusercontent.com/12873038/72268240-bf541200-3621-11ea-9f7d-4326d774a522.jpeg)

The size of the fillet weld must be 1/4" or greater.

[2020-01-13 15:29] #139 closed, assigned to lcpt

[2020-01-14 13:00] anaiortega commented on #92
Hi @chopinregis ,
If you don't mind, please send me the plan for review when all the corrections are made.
Tanks, Ana

[2020-01-14 14:33] chopinregis commented on #92
Hello @anaiortega
You will the drawings here
CTR\Transfer\20200114 - to STRUCT - Internal Review

[2020-01-14 16:21] anaiortega commented on #92
Thanks @chopinregis,
My review:
![rev01_1](https://user-images.githubusercontent.com/12873329/72361719-41137080-36f2-11ea-937e-6a1ce4269103.png)
![rev01_2](https://user-images.githubusercontent.com/12873329/72361735-47095180-36f2-11ea-8d29-2eafba8ef23b.png)
![rev01_2_text](https://user-images.githubusercontent.com/12873329/72361747-4b356f00-36f2-11ea-950e-3726bd3b961f.png)

[2020-01-14 16:59] chopinregis commented on #92
hello @anaiortega , i've updated your markups, they are in the same folder as
CTR\Transfer\20200114 - to STRUCT - Internal Review

[2020-01-14 17:25] anaiortega commented on #92
Hi  @chopinregis,
the last detail was missing in the previous review
![1stfloor_lintel](https://user-images.githubusercontent.com/12873329/72366726-22fe3e00-36fb-11ea-8d5b-075deeb4ce36.jpg)

[2020-01-14 17:32] anaiortega commented on #92
It's fine by me

[2020-01-14 18:39] chopinregis commented on #92
alright @anaiortega the 1st floor Lintel detail 4/S400 has been updated at same location
CTR\Transfer\20200114 - to STRUCT - Internal Review

[2020-01-14 22:47] theoryshaw commented on #140
The screenshoot you show here was a proposed layout by Kurt awhile ago.  I decided not to entertain it, because exactly as you proposed--that is, the loads were different than what the precaster was giving originally. And it was too late in the game to change them.

[2020-01-14 22:48] theoryshaw commented on #140
I will forward you the email where this decision was made.  I think you were cc'ed on it.

[2020-01-14 22:55] theoryshaw opened #142 "Design W-section under 2nd floor trusses at the following locations..."
Design W-section under 2nd floor trusses at the following locations...

![image](https://user-images.githubusercontent.com/507113/72389638-75852d80-36ee-11ea-9121-e71037961df1.png)

[2020-01-14 23:01] theoryshaw commented on #141
I'm not sure either.

If we can, however, I think we should do something like this instead.

![image](https://user-images.githubusercontent.com/507113/72389959-37d4d480-36ef-11ea-9df4-220aae7259a1.png)  That is, instead of 'tucking' the header up into the truss.

Thanks, Ryan

[2020-01-14 23:07] theoryshaw commented on #138
On that email with the GC, they indicated they did include the vertical reinforcing at that location. I would assume we just need to work on a detail at the CMU and concrete interface.  Similar to this one...

![image](https://user-images.githubusercontent.com/507113/72390382-322bbe80-36f0-11ea-94c1-114b579d17a7.png)

[2020-01-14 23:08] theoryshaw commented on #140
related to #142

[2020-01-15 08:43] anaiortega commented on #92
Hi @chopinregis . The checking of the 1st floor Lintel detail:
![202001150834_1st_floor_elevator_lintel](https://user-images.githubusercontent.com/12873329/72418572-639d9c00-377b-11ea-923b-112af6a862a4.jpg)

[2020-01-15 13:13] theoryshaw commented on #92
A 4" radius would touch the inside edges of the CMU block. Is that OK? Would 3" radius work?

---

  We fixed the cadding note on the latest drawing.

[2020-01-15 13:25] anaiortega commented on #92
It's 2" radius

[2020-01-15 13:29] theoryshaw commented on #92
Sorry, meant 4" diameter, would touch the outside edge of cmu..  That okay?

[2020-01-15 13:30] anaiortega commented on #92
Then 1 1/2" radius, 3" diameter will ok ;-)

[2020-01-15 13:49] lcpt commented on #140
Yes I've received that mail.
Thank you.

[2020-01-15 13:52] lcpt commented on #141
OK, I agree.

[2020-01-15 14:05] anaiortega commented on #93
Hi @chopinregis,
![screenshot](https://user-images.githubusercontent.com/12873329/72440007-577c0380-37a8-11ea-8f69-5106e72c769e.png)

In this detail we should express the ramp thickness dimension, that is equal to 6"
Thanks

[2020-01-15 15:18] chopinregis commented on #93
@anaiortega is this what you mean?
![Annotation 2020-01-15 101744](https://user-images.githubusercontent.com/13260872/72445863-6b137400-3780-11ea-9774-48ccb6edc03d.png)

[2020-01-15 16:24] anaiortega commented on #93
Yes, thanks @chopinregis !

[2020-01-15 17:13] theoryshaw commented on #92
Hi @anaiortega ,

![image](https://user-images.githubusercontent.com/507113/72452220-cd6d7400-3782-11ea-826b-e60f41f2f0cb.png)

---

![image](https://user-images.githubusercontent.com/507113/72455187-f5130b00-3787-11ea-907b-59f08fbabd2e.png)

[2020-01-15 17:43] anaiortega commented on #92
Hi @theoryshaw,
For the second one (9 ft), no problem.
For the first one (opening 60.5"), I think it will be ok, since the load is low. Nevertheless, I'll verify it tomorrow morning.

[2020-01-16 09:08] anaiortega commented on #92
Hi @theoryshaw ,
For the opening for louver, ok as well

[2020-01-16 10:02] anaiortega commented on #92
Hi @theoryshaw ,
![20200116093140_001](https://user-images.githubusercontent.com/12873329/72515103-9fa23100-384f-11ea-9e8f-c532d80c280e.jpg)

If finally, the current design of the elevator shaft is viable for the elevator installation, we should add a couple of ties between the column and the 6" CMU wall to ensure the stability of the latter.

[2020-01-16 10:16] anaiortega commented on #92
On the other hand, I would like to add a bond beam under the opening for louver
![screenshot_1](https://user-images.githubusercontent.com/12873329/72516163-8306f880-3851-11ea-9aa7-93e6384c154f.png)

[2020-01-16 16:24] theoryshaw commented on #140
closing - #142 is duplicate

[2020-01-16 16:24] #140 closed, assigned to lcpt

[2020-01-16 16:24] #115 closed, assigned to theoryshaw

[2020-01-16 16:33] theoryshaw commented on #82
I think this is done.  Am closing for the time being.

[2020-01-16 16:33] #82 closed, assigned to lcpt

[2020-01-17 05:35] theoryshaw opened #143 "Resize a few LVL headers"
http://dev.first-draft.xyz/d/hn353dk52/

[2020-01-18 17:30] lcpt commented on #142
We can use a W16X57 for both beams.

[2020-01-18 17:59] theoryshaw commented on #142
Thanks Luis, possible to use a thicker W12 here?

We could use the head room, if possible.

[2020-01-18 18:00] theoryshaw commented on #142
Or a W14, if that's not possible.

[2020-01-18 18:28] lcpt commented on #143
Basically, we can reduce from 18" to 14. See notes on first-draft.

[2020-01-19 06:51] theoryshaw opened #144 "LVL near ramp on 2nd floor"
@lcpt

This following beam circled below, seems undersized.  Can you verify?

Thanks, Ryan
![image](https://user-images.githubusercontent.com/507113/72676325-b1edbc00-3a55-11ea-884a-e66b4ca28ac8.png)

[2020-01-19 06:55] theoryshaw opened #145 "(2) sistered 4x6's at headers in the corridor"
@lcpt

For the following conditions in the project, can be go with (2) sistered 4x6's instead?

![image](https://user-images.githubusercontent.com/507113/72676366-1e68bb00-3a56-11ea-8d0b-9e893def5da6.png)

[2020-01-19 07:24] theoryshaw opened #146 "wood bearing wall along ramp walls"
@lcpt,

I would like to have this furring, that bears the 2nd floor trusses be 2x4's.

What's you recommended on center spacing? 16"?

![image](https://user-images.githubusercontent.com/507113/72676733-16ab1580-3a5a-11ea-856a-0c66856f21cb.png)

[2020-01-19 17:06] lcpt commented on #142
Yes W12X87. In both cases (W12 or W16) the beams must be continuously braced. I would like to check the modified drawings.

[2020-01-19 17:14] theoryshaw commented on #142
Thanks, yes, I plan having you review the entire set in the next couple days.

Can you provide a sketch on what you mean by this cont. bracing?

[2020-01-19 17:22] lcpt commented on #142
![image](https://user-images.githubusercontent.com/12873038/72685215-49035400-3ae8-11ea-92dc-61b3aba53ae1.png)
The horizontal displacement of the upper flange must be constrained as in the picture (for example) to prevent lateral buckling.

[2020-01-19 17:30] theoryshaw commented on #142
I guess i'm still not following.

With the W12x87 we have this conditon, so far... (disregard the garage door spring)

![image](https://user-images.githubusercontent.com/507113/72685353-f5284900-3aae-11ea-9ca5-f3110fe68404.png)

[2020-01-19 17:38] lcpt commented on #142
Ah, OK. They go under the trusses. We need to attach the upper flange of the steel beam to the lower chord of the trusses. I'll seek for a suitable detail.
![w_section_under_trusses png](https://user-images.githubusercontent.com/12873038/72685461-92ed3980-3aea-11ea-8031-cf6b33ea5e8e.png)

[2020-01-19 17:38] theoryshaw commented on #142
sounds good

[2020-01-19 18:51] lcpt opened #147 "Modify corridor floors assembly composition."
[20200117_0444_Ryan2Luis_corridor_floors.pdf](https://github.com/OpeningDesign/CTR/files/4083220/20200117_0444_Ryan2Luis_corridor_floors.pdf)

[2020-01-20 09:13] anaiortega commented on #93
Hi @theoryshaw @chopinregis ,
Here  it's the detail for anchorage or the ADA ramp slab to the basement wall
![20200120090009](https://user-images.githubusercontent.com/12873329/72713226-f3bd5600-3b6c-11ea-870c-67d15435ac00.jpg)

[2020-01-20 10:26] lcpt commented on #138
![image](https://user-images.githubusercontent.com/12873038/72718682-b5c52f80-3b76-11ea-9f8e-c552a555b123.png)
If the vertical reinforcement has not been extended into the top of the wall (see image) we'll need to find some other way to transfer the loads to the first floor.

![image](https://user-images.githubusercontent.com/12873038/72719116-82cf6b80-3b77-11ea-9cf3-0b2f8fb1fa17.png)

The problem

[2020-01-20 10:48] lcpt opened #148 "Connections of E2A and EC2A shear walls on precast planks and steel beams."
![image](https://user-images.githubusercontent.com/12873038/72720291-e6f32f00-3b79-11ea-89db-529a6a14f3d2.png)
Design connections of those walls to the precast floor and the H1.7 steel beam.
![image](https://user-images.githubusercontent.com/12873038/72720661-bfe92d00-3b7a-11ea-9411-0802a217289b.png)

[2020-01-20 17:46] lcpt commented on #147
We can use 4x6 pine joists as follows:
![4x6_pine_joist_imperial_units](https://user-images.githubusercontent.com/12873038/72747519-28ed9680-3bb5-11ea-9201-84adcdfbe82c.png)

[2020-01-20 18:26] theoryshaw commented on #147
Cool. Thx!  Are you still working on the substrate layer sandwich?

![image](https://user-images.githubusercontent.com/507113/72749573-0d1bcd80-3b80-11ea-9436-6c03329a4a39.png)

[2020-01-20 19:37] lcpt commented on #147
Yes. For the structural point of view I prefer the first sandwich. But, on the other hand, I need to check the strength of the OSB panels. I'm currently working on this.

[2020-01-20 22:50] theoryshaw commented on #144
This one seems undersized too, as it's bearing the 3rd and rooftop trusses through the 2nd and 3rd floor corridor walls.

![image](https://user-images.githubusercontent.com/507113/72762034-bf18c100-3ba3-11ea-9bce-bb29d833fc22.png)

![image](https://user-images.githubusercontent.com/507113/72762358-e9b74980-3ba4-11ea-878c-8d995279fa0c.png)

[2020-01-21 11:00] lcpt commented on #147
Hi Ryan. In those sandwiches there is a missing OSB layer. We checked the floor sheathing with three 19/32 structural plywood layers:
![image](https://user-images.githubusercontent.com/12873038/72799501-a660e780-3c45-11ea-9259-5c657fa09efc.png)

[2020-01-21 13:45] theoryshaw commented on #147
Thats the question, essentially, can we go down to 2 layers? Perhaps (2) 3/4" layers? The gyp crete provides some fire resistant in these sandwiches, as well.

[2020-01-21 13:48] lcpt commented on #147
OK. Understood.

[2020-01-21 14:01] lcpt commented on #147
Then we need to put the Gypcrete between the two structural layers, otherwise there is no bearing layer in case of fire.

[2020-01-21 14:18] theoryshaw commented on #147
Sounds good.  If we do the following what's the minimum size of the OSB?

![image](https://user-images.githubusercontent.com/507113/72812119-8968ec00-3c26-11ea-966f-38a914a59be6.png)

[2020-01-21 17:52] lcpt commented on #147
We can use a 19/32 OSB panel with the following design capacities:

![image](https://user-images.githubusercontent.com/12873038/72829244-b3e69380-3c7e-11ea-833a-4cdc744bfeb3.png)

![image](https://user-images.githubusercontent.com/12873038/72829343-e1334180-3c7e-11ea-850f-76d39a880ddd.png)

[2020-01-21 18:25] theoryshaw commented on #147
Okay.  so to summarize...

We can do?...

4x6 no. 1 pine joists 32" o.c. with the following sandwich...
- 19/32" osb spanning 32" oc.
- 3/4" gyp crete
- acoustical mat
- 19/32" osb spanning 32" oc.

[2020-01-22 01:27] #143 closed, assigned to theoryshaw

[2020-01-22 01:49] #95 closed, assigned to theoryshaw

[2020-01-22 01:58] #96 closed, assigned to theoryshaw

[2020-01-22 10:07] anaiortega commented on #142
Hi @theoryshaw ,
We could use this kind of connectors:
![20200122100117_001](https://user-images.githubusercontent.com/12873329/72884836-16837200-3d07-11ea-9321-3429673f81a6.jpg)
![simpson_strong_tie](https://user-images.githubusercontent.com/12873329/72884872-269b5180-3d07-11ea-9e52-d91325f51c69.gif)
![table](https://user-images.githubusercontent.com/12873329/72884895-31ee7d00-3d07-11ea-9169-4bea

[2020-01-22 10:38] lcpt commented on #147
Yes, as long as the OSB panels have the capacities showed above.

[2020-01-22 21:47] theoryshaw commented on #142
Below is how it's typically done, where a wood 2x sill is attached to the beam, and then the truss is attached to the sill.

Welding is too cumbersome and expensive.

![image](https://user-images.githubusercontent.com/507113/72937219-56118480-3d2e-11ea-9214-cb7ab42a502b.png)

[2020-01-23 05:34] theoryshaw commented on #142
![image](https://user-images.githubusercontent.com/507113/72959392-cab8e300-3d6f-11ea-8c6d-cc7d98a844a2.png)

[2020-01-23 09:59] anaiortega commented on #142
Yes, the idea of that solution with steel connectors was to minimize the total beam height so as not to take up more head room.

[2020-01-23 10:00] anaiortega commented on #142
![pic](https://user-images.githubusercontent.com/12873329/72974573-83623f00-3dcf-11ea-9773-aa07249135fa.png)

[2020-01-23 13:26] lcpt commented on #90
![selected_titen_anchor_bolt](https://user-images.githubusercontent.com/12873038/72988288-448eb200-3dec-11ea-9aeb-05459f5555c5.png)

[2020-01-23 13:26] #90 closed, assigned to lcpt

[2020-01-24 13:00] lcpt commented on #146
You can use a spacing of 24" and double them (2) 2×4 at 24 inches (0.61 m) and place them under the trusses or use single studs at 12 inches (0.3 m).

[2020-01-24 14:59] lcpt commented on #144
There is a door over this header on the 3rd floor but I agree that it's better to make it more robust: 5.25×14"

[2020-01-24 15:24] lcpt commented on #144
Yes it was undersized. We can use also a  5.25×14" LVL header.

[2020-01-24 16:40] lcpt commented on #145
Yes, we can.

[2020-01-25 04:25] #145 closed, assigned to lcpt

[2020-01-25 04:28] #144 closed, assigned to lcpt

[2020-01-25 04:28] #142 closed, assigned to theoryshaw

[2020-01-25 04:28] #141 closed, assigned to theoryshaw

[2020-01-27 18:32] #146 closed, assigned to lcpt

[2020-01-27 18:33] #111 closed, assigned to theoryshaw

[2020-01-27 18:33] #112 closed, assigned to theoryshaw

[2020-01-27 18:33] #116 closed, assigned to theoryshaw

[2020-01-27 18:33] #122 closed, assigned to bdmock

[2020-01-27 18:33] #123 closed, assigned to bdmock

[2020-01-27 18:33] #124 closed, assigned to bdmock

[2020-01-27 18:33] #125 closed, assigned to bdmock

[2020-01-27 18:33] #126 closed, assigned to theoryshaw

[2020-01-27 18:33] #127 closed, assigned to bdmock

[2020-01-27 18:33] #128 closed, assigned to bdmock

[2020-01-27 18:33] #129 closed, assigned to bdmock

[2020-01-27 18:33] #130 closed, assigned to bdmock

[2020-01-27 18:33] #131 closed, assigned to bdmock

[2020-01-27 18:33] #132 closed, assigned to bdmock

[2020-01-27 18:33] #133 closed, assigned to bdmock

[2020-01-27 18:33] #135 closed, assigned to bdmock

[2020-01-27 18:33] #136 closed, assigned to theoryshaw

[2020-01-27 18:33] #137 closed, assigned to bdmock

[2020-01-27 18:34] #24 closed, assigned to nobody

[2020-01-27 18:34] #37 closed, assigned to nobody

[2020-01-27 18:34] #42 closed, assigned to nobody

[2020-01-27 18:35] #81 closed, assigned to chopinregis

[2020-01-27 18:35] #87 closed, assigned to bdmock

[2020-01-27 18:35] #92 closed, assigned to theoryshaw

[2020-01-27 18:35] #103 closed, assigned to theoryshaw

[2020-01-27 18:35] #104 closed, assigned to theoryshaw

[2020-01-27 18:35] #107 closed, assigned to theoryshaw, bdmock

[2020-01-27 18:35] #108 closed, assigned to theoryshaw

[2020-01-27 18:35] #109 closed, assigned to theoryshaw

[2020-01-27 18:35] #9 closed, assigned to nobody

[2020-01-28 08:26] anaiortega opened #149 "Steel at precast cantilever"
Eliminate stiffener plate and replace bolts with full weld

[2020-01-28 15:05] anaiortega commented on #149
It's possible to eliminate the stiffener plates in the beam over the column, but only in the case that no other loads except the precast self-weight are  acting on the cantilever or the precast slab before the grout is in place.
![20200128150036_001](https://user-images.githubusercontent.com/12873329/73275849-0298ae00-41e8-11ea-9607-6ec377878da0.jpg)

[2020-01-28 16:51] lcpt commented on #149
It's also possible to weld the plate to the bottom web of the beam. You can also reduce the plate dimensions to 9×9 inches to leave some space to the weld bead.

[2020-01-28 16:53] #149 closed, assigned to nobody

[2020-02-10 09:56] anaiortega commented on #138
Hi @theoryshaw ,
![south_basement_wall](https://user-images.githubusercontent.com/12873329/74139528-d7ed2300-4bf3-11ea-901d-37de22da5c66.jpg)

The two lateral retaining basement walls in the South façade have been modelled supposing the stem laterally supported at the top and fixed at foundation (it acts as a fixed-pin beam). The earth pressure is applied using the at-rest Ko coefficient and surch

[2020-02-11 14:08] anaiortega commented on #138
Hi Ryan,
Find sketched two possible solutions to transfer the loads to the precast planks from the South CMU basement walls. The first one can raise the problem of interference between anchors and the lintel bottom reinforcement, so, if selected, we should probably use a WT profile with a wider wing. We also must size the anchorage once the solution is established.
![south_basement_wall_detail](ht

[2020-02-11 14:30] anaiortega commented on #138
Hi Ryan,
Find sketched two possible solutions to transfer the loads to the precast planks from the South CMU basement walls. The first one can raise the problem of interference between anchors and the lintel bottom reinforcement, so, if selected, we should probably use a WT profile with a wider wing. We also must size the anchorage once the solution is established.
![south_basement_wall_detail](ht

[2020-02-11 16:12] theoryshaw commented on #138
Thanks Anna. Don't forget the CMU is 8" and the concrete wallowings 10" so we have a 2" gap on the inside of the wall

[2020-02-11 16:15] theoryshaw commented on #138
A 2 3/8" offset to be exact.

[2020-02-11 16:39] anaiortega commented on #138
OK, thanks

[2020-02-12 15:35] anaiortega commented on #138
Hi @theoryshaw
Here's the detail
![south_basement_wall_support_detail](https://user-images.githubusercontent.com/12873329/74350170-9e641580-4db5-11ea-956d-1ee8d9bfe73f.jpg)
![south_basement_wall_plan](https://user-images.githubusercontent.com/12873329/74350177-a0c66f80-4db5-11ea-80f3-4c8a4c8ab413.jpg)

[2020-02-12 16:20] theoryshaw commented on #138
I just found out that the top of grade will be 3ft below the courtyard elevation.  If that be the case, can we do away with these struts all together?  Could we just do something like this?...

![2020-02-12 10 17 31](https://user-images.githubusercontent.com/507113/74354562-2e3b9c80-4d81-11ea-9cdf-af169951b5db.jpg)

There was a lot of growning on the site yesterday when I brought up this detail, e

[2020-02-12 17:16] theoryshaw commented on #147
@lcpt,

In our previous assembly, we had the following sandwich....

- 3/4" gyp crete
- acoustical mat
- 19/32" osb spanning 32" oc.
- 19/32" osb spanning 32" oc.
- 19/32" osb spanning 32" oc.

Is there anyway to go down to 2 layers like the following?...

- 3/4" gyp crete
- acoustical mat
- 3/4" (or thicker, if need be) osb spanning 32" oc.
- 3/4" (or thicker, if need be)  osb spanning 32" oc.

S

[2020-02-12 17:38] anaiortega commented on #138
I'm not very confident about that solution. Even if we can size the structural elements to meet the standards with that ground level, I think it's risky to assume that in the future the filling does not reach the top of the wall. We'll try to imagine another solution without affecting the precast.

[2020-02-12 19:34] theoryshaw opened #150 "Callout the base/top plates for the remaining steel."
Callout the base/top plates for the remaining steel.

http://dev.first-draft.xyz/d/20200212_2nd_Floor_Steel/

[2020-02-12 19:40] theoryshaw commented on #150
I think we should sketch out the base plates, but I think we can just call out, with notes in a schedule, what the top plates (size, bolts, etc) are, as well as the the intersection of these steel next to the cantilever.

(just trying to save us time having to model up every single detail.  We can lean on the structural shops to draft these connections up, and we can review)

[2020-02-12 19:43] theoryshaw opened #151 "Head detail at walls between the corner 2bd units"
Luis,
At those walls between the corner 2bd units, could we do something like the following?...

We're just trying to accommodate some large pipes that run up these walls.

Thanks, Ryan

![image](https://user-images.githubusercontent.com/507113/74370930-8d0f0f00-4d9d-11ea-9075-da56a32dccde.png)

[2020-02-12 20:30] theoryshaw opened #152 "CTR - balconies at main entry"
![image](https://user-images.githubusercontent.com/507113/74374494-293c1480-4da4-11ea-897e-31c303ea1ed3.png)

[2020-02-12 20:36] theoryshaw commented on #138
If we have to put the structs in, so be it, but just wanted to ask the question--the gc would be happy if we could eliminate the structs.

[2020-02-13 09:05] lcpt commented on #152
Ryan,

The loads on the upper anchors will be greater due to the increased length but I think there is no big deal with it.

[2020-02-13 09:33] lcpt commented on #151
If I'm not wrong those are the south facade shear walls.
![south_shear_walls](https://user-images.githubusercontent.com/12873038/74420231-614a6280-4e4b-11ea-93ce-c4dc469b907b.png)
There we need the rim board to transfer shear between floors, so we need it attached to walls above and below. We'll need to find another solution.

[2020-02-13 10:55] lcpt commented on #147
Hi Ryan.

You can use:

- 3/4" gyp crete
- acoustical mat
- 19/32" osb spanning 32" oc.
- 1 1/8" osb spanning 32" oc.

or go back to the initial solution:

- 3/4" gyp crete
- acoustical mat
- 19/32" osb spanning 32" oc.
- 19/32" osb spanning 32" oc.
- 19/32" osb spanning 32" oc.

[2020-02-13 10:59] lcpt commented on #147
We need to adapt detail 4/A800 consequently.

[2020-02-13 15:43] theoryshaw commented on #151
i think we'll just do a furred out plumbing wall, and be done with it.
Thanks.

[2020-02-13 16:29] anaiortega commented on #138
Hi @theoryshaw,
Sorry, we see no options other than:
- install another resisting wall (CMU, corrugated steel sheet, ...) on the side in contact with the ground. As it should almost reach the courtyard elevation, the solution is not very aesthetic if the ground level is 3 ft below.
- Install the struts as represented in the detail above.

[2020-02-13 18:09] theoryshaw commented on #138
@anaiortega sounds good.  Can I send your following sketch to the GC?...

![south_basement_wall_support_detail](https://user-images.githubusercontent.com/12873329/74350170-9e641580-4db5-11ea-956d-1ee8d9bfe73f.jpg)
![south_basement_wall_plan](https://user-images.githubusercontent.com/12873329/74350177-a0c66f80-4db5-11ea-80f3-4c8a4c8ab413.jpg)

[2020-02-13 18:56] anaiortega commented on #138
Yes, thank you
Le jeu. 13 févr. 2020 à 19:09, Ryan Schultz <notifications@github.com> a
écrit :

[2020-02-14 00:24] #138 closed, assigned to lcpt

[2020-02-14 00:25] #147 closed, assigned to lcpt

[2020-02-17 11:41] anaiortega commented on #150
Hi @theoryshaw ,
Here is the sketch
![20200217113128_001](https://user-images.githubusercontent.com/12873329/74650783-b99e9e80-5182-11ea-96b6-b95d9b2a0150.jpg)

[2020-02-17 14:48] theoryshaw commented on #150
Thanks Ana, were you planning to sketch out the base plate conditions called out here?

http://dev.first-draft.xyz/d/20200212_2nd_Floor_Steel/

[2020-02-17 16:03] anaiortega commented on #150
Correction to previous sketch: all cap plates are 10x14x3/4
![20200217155735_001](https://user-images.githubusercontent.com/12873329/74669249-0f853d80-51a7-11ea-82e4-f2f9c634afa1.jpg)

[2020-02-17 16:03] anaiortega commented on #150
I send the base plates in a few minutes

[2020-02-17 16:55] anaiortega commented on #150
All base plates are:
![20200217164806_001](https://user-images.githubusercontent.com/12873329/74672964-97bb1100-51ae-11ea-94eb-91aba858448d.jpg)

[2020-02-17 17:24] theoryshaw commented on #150
Can you coordinate your suggested base plate dimensions with the existing conditions of the curb and precast offset.

![image](https://user-images.githubusercontent.com/507113/74674810-c8338880-5177-11ea-98e2-fd2159e3144d.png)

![image](https://user-images.githubusercontent.com/507113/74674826-d2558700-5177-11ea-8ee7-adbc359972df.png)

[2020-02-19 14:49] anaiortega commented on #150
Base plates North façade
![20200219144312_001](https://user-images.githubusercontent.com/12873329/74845451-5605a400-532f-11ea-867a-c322e93c0f6d.jpg)

[2020-02-19 16:06] anaiortega commented on #150
![20200219160059_001](https://user-images.githubusercontent.com/12873329/74850327-24460a80-533a-11ea-9735-aad02ce300d9.jpg)
![20200219160138_001](https://user-images.githubusercontent.com/12873329/74850331-2740fb00-533a-11ea-8887-d45d4a199d75.jpg)

[2020-02-20 08:54] anaiortega commented on #150
Hi @theoryshaw ,
Can this be a suitable alternative?
![20200220084405_001](https://user-images.githubusercontent.com/12873329/74916911-f6f36e00-53c6-11ea-9831-1f6b7fe08bd0.jpg)

[2020-02-20 14:38] theoryshaw commented on #150
Yes, this works.  Thanks.

[2020-02-20 14:38] #150 closed, assigned to lcpt

[2020-03-04 14:05] lcpt commented on #150
The horizontal stirrup is missing here:
![image](https://user-images.githubusercontent.com/12873038/75887011-6cc8f200-5e29-11ea-9305-266595a755dd.png)

[2020-03-04 14:16] theoryshaw commented on #150
okay.